Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/ui lint --cache"
  ],
  "packages/core/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/core lint --cache"
  ],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ],
  "apps/admin/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace admin lint --cache"
  ],
  "*.{js,jsx,ts,tsx}": [
    "yarn turbo:test:coverage --findRelatedTests"
  ],
  "*.scss": [
    "yarn turbo:stylelint"
  ]
}

feat(admin): total count status 수정 액션 구현 (#160)
  apps/admin/@types/environment.d.ts
  apps/admin/src/actions/count.ts
  apps/admin/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  packages/core/src/@types/count.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

feat(admin): 지원자 수 카드 섹션 수정 페이지 및 업데이트 플로우 구현
  .lintstagedrc.json
  apps/admin/src/actions/count.ts
  apps/admin/src/app/page.tsx
  apps/admin/src/app/total-count-status/page.module.scss
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/Navigator/index.tsx
  apps/admin/src/components/TotalCountStatusForm/index.module.scss
  apps/admin/src/components/TotalCountStatusForm/index.tsx
  apps/web/src/app/jobs/template.tsx
  apps/web/src/app/organizers/page.tsx
  apps/web/src/app/projects/page.tsx
  apps/web/src/app/reviews/template.tsx
  apps/web/src/components/atoms/SectionTitle/SectionTitle.stories.tsx
  apps/web/src/components/atoms/Tag/Tag.stories.tsx
  apps/web/src/components/pages/AboutPage/index.tsx
  apps/web/src/components/pages/CulturePage/index.tsx
  packages/eslint-config/index.js
  packages/ui/.eslintrc.js
  packages/ui/@types/jest.d.ts
  packages/ui/src/components/atoms/AccordionItem/index.test.tsx
  packages/ui/src/components/atoms/PageTitle/PageTitle.stories.tsx
  packages/ui/src/components/atoms/PageTitle/index.module.scss
  packages/ui/src/components/atoms/PageTitle/index.test.tsx
  packages/ui/src/components/atoms/PageTitle/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/molecules/Button/index.test.tsx
  packages/ui/tsconfig.jest.json
  packages/ui/tsconfig.json
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

feat(admin): 지원자 수 카드 섹션 수정 페이지 및 업데이트 플로우 구현 (#161)
  .lintstagedrc.json
  apps/admin/src/actions/count.ts
  apps/admin/src/app/page.tsx
  apps/admin/src/app/total-count-status/page.module.scss
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/Navigator/index.tsx
  apps/admin/src/components/TotalCountStatusForm/index.module.scss
  apps/admin/src/components/TotalCountStatusForm/index.tsx
  apps/web/src/app/jobs/template.tsx
  apps/web/src/app/organizers/page.tsx
  apps/web/src/app/projects/page.tsx
  apps/web/src/app/reviews/template.tsx
  apps/web/src/components/atoms/SectionTitle/SectionTitle.stories.tsx
  apps/web/src/components/atoms/Tag/Tag.stories.tsx
  apps/web/src/components/pages/AboutPage/index.tsx
  apps/web/src/components/pages/CulturePage/index.tsx
  packages/eslint-config/index.js
  packages/ui/.eslintrc.js
  packages/ui/@types/jest.d.ts
  packages/ui/src/components/atoms/AccordionItem/index.test.tsx
  packages/ui/src/components/atoms/PageTitle/PageTitle.stories.tsx
  packages/ui/src/components/atoms/PageTitle/index.module.scss
  packages/ui/src/components/atoms/PageTitle/index.test.tsx
  packages/ui/src/components/atoms/PageTitle/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/molecules/Button/index.test.tsx
  packages/ui/tsconfig.jest.json
  packages/ui/tsconfig.json
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

chore: yarn pnp 모드
  .github/workflows/ci.yml
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
Due: none

fix: storybook build error 수정
  .pnp.cjs
  .yarnrc.yml
  apps/web/.storybook/main.ts
  apps/web/package.json
  apps/web/src/components/global/TopNavigationBar/TopNavigationBar.stories.tsx
  apps/web/src/components/global/TopNavigationMenu/index.tsx
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

chore: test
  packages/ui/package.json
Due: none

chore: test
  .pnp.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: none

fix: remove pnp
  .github/workflows/ci.yml
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
Due: none

fix: storybook svg 이슈 수정 (#162)
  .yarnrc.yml
  apps/web/.storybook/main.ts
  apps/web/package.json
  apps/web/src/components/global/TopNavigationBar/TopNavigationBar.stories.tsx
  apps/web/src/components/global/TopNavigationMenu/index.tsx
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

chore: pdfjs-dist 파일 삭제 및 storybook font 적용 수정, modal 리팩터링
  apps/web/.storybook/preview-head.html
  apps/web/package.json
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalOpenButton/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalProvider/index.tsx
  apps/web/src/components/organisms/SponsorSection/index.tsx
  yarn.lock
Due: yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

chore: pdfjs-dist 파일 삭제 및 storybook font 적용 수정, modal 리팩터링 (#163)
  apps/web/.storybook/preview-head.html
  apps/web/package.json
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalOpenButton/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalProvider/index.tsx
  apps/web/src/components/organisms/SponsorSection/index.tsx
  yarn.lock
Due: yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

refactor(admin): submit button 적용
  apps/admin/src/components/TotalCountStatusForm/index.tsx
  apps/admin/src/components/common/SubmitButton/index.tsx
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

refactor(admin): submit button 적용 (#164)
  apps/admin/src/components/TotalCountStatusForm/index.tsx
  apps/admin/src/components/common/SubmitButton/index.tsx
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

feat(admin): current-applicant-count form 페이지 적용
  apps/admin/src/actions/count.ts
  apps/admin/src/app/current-applicant-count/page.module.scss
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/components/CurrentApplicantCountForm/index.module.scss
  apps/admin/src/components/CurrentApplicantCountForm/index.tsx
  apps/admin/src/components/Navigator/index.tsx
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

feat(admin): current-applicant-count form 페이지 적용 (#166)
  apps/admin/src/actions/count.ts
  apps/admin/src/app/current-applicant-count/page.module.scss
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/components/CurrentApplicantCountForm/index.module.scss
  apps/admin/src/components/CurrentApplicantCountForm/index.tsx
  apps/admin/src/components/Navigator/index.tsx
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

refactor: faq 섹션의 로컬 정적 데이터를 BLOB으로 불러오도록 변경
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/components/organisms/FAQSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/current_applicant_count.json
  apps/web/src/lib/assets/data/faq.json
  apps/web/src/lib/assets/data/index.ts
  apps/web/src/lib/assets/data/total_count_status.json
  packages/core/src/@types/faq.ts
  packages/core/src/types.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

refactor: faq 섹션의 로컬 정적 데이터를 verel/blob으로 불러오도록 변경 (#167)
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/components/organisms/FAQSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/current_applicant_count.json
  apps/web/src/lib/assets/data/faq.json
  apps/web/src/lib/assets/data/index.ts
  apps/web/src/lib/assets/data/total_count_status.json
  packages/core/src/@types/faq.ts
  packages/core/src/types.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

refactor: 사용하지 않는 파일 삭제 및 admin navigator 리스트 구조 변경
  apps/admin/src/app/faq/page.tsx
  apps/admin/src/components/Navigator/index.module.scss
  apps/admin/src/components/Navigator/index.tsx
  apps/web/src/hoc/withSuspense/index.tsx
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

refactor: 사용하지 않는 파일 삭제 및 admin navigator 리스트 구조 변경 (#168)
  apps/admin/src/app/faq/page.tsx
  apps/admin/src/components/Navigator/index.module.scss
  apps/admin/src/components/Navigator/index.tsx
  apps/web/src/hoc/withSuspense/index.tsx
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

fix(admin): production 환경에서 로그인 안되는 이슈 수정
  apps/admin/src/auth.ts
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

fix(admin): production 환경에서 로그인 안되는 이슈 수정 (#169)
  apps/admin/src/auth.ts
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

fix: auth secret 추가
  apps/admin/@types/environment.d.ts
  apps/admin/src/auth.ts
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

fix: auth secret 추가 (#171)
  apps/admin/@types/environment.d.ts
  apps/admin/src/auth.ts
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

docs: update readme
  README.md
Due: none

feat(admin): 지원자 수 google spreadsheet 연동 후 cron 적용하여 1시간마다 데이터 가져오기 구현
  .yarn/cache/axios-npm-1.7.4-cc1c89ddba-7a1429be1e.zip
  .yarn/cache/bignumber.js-npm-9.1.2-c2228c6a4a-d89b8800a9.zip
  .yarn/cache/buffer-equal-constant-time-npm-1.0.1-41826f3419-80bb945f5d.zip
  .yarn/cache/ecdsa-sig-formatter-npm-1.0.11-b6784e7852-878e1aab8a.zip
  .yarn/cache/gaxios-npm-6.7.1-11467afb7c-c855991622.zip
  .yarn/cache/gcp-metadata-npm-6.1.0-e1614654c8-a0d12a9cb7.zip
  .yarn/cache/google-auth-library-npm-9.13.0-8ea2ec9721-132616d668.zip
  .yarn/cache/google-spreadsheet-npm-4.1.2-e7715a2434-7121b13050.zip
  .yarn/cache/gtoken-npm-7.1.0-64216471c4-640392261e.zip
  .yarn/cache/json-bigint-npm-1.0.0-8e35bcb143-cd3973b88e.zip
  .yarn/cache/jwa-npm-2.0.0-52a7c3f1ca-ab983f6685.zip
  .yarn/cache/jws-npm-4.0.0-2a24fd53b9-1d15f4cdea.zip
  apps/admin/@types/environment.d.ts
  apps/admin/package.json
  apps/admin/src/app/api/cron/current-applicant-count/route.ts
  apps/admin/vercel.json
  packages/ui/src/hooks/useIsMounted.ts
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

fix(admin): cron 유료로 클릭시 최신반영 플로우로 변경
  .yarn/cache/@tanstack-query-core-npm-5.52.0-71b6cb642b-cd21e87ad7.zip
  .yarn/cache/@tanstack-react-query-npm-5.52.0-2024f6d138-6976d309d3.zip
  apps/admin/package.json
  apps/admin/src/app/api/cron/current-applicant-count/route.ts
  apps/admin/src/app/api/current-applicant-count/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/components/CurrentApplicantCountAction/index.module.scss
  apps/admin/src/components/CurrentApplicantCountAction/index.tsx
  apps/admin/src/components/CurrentApplicantCountForm/index.tsx
  apps/admin/src/components/common/ClientLayout/index.tsx
  apps/admin/vercel.json
  yarn.lock
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

fix(admin): cron 유료로 클릭시 최신반영 플로우로 변경 (#173)
  .yarn/cache/@tanstack-query-core-npm-5.52.0-71b6cb642b-cd21e87ad7.zip
  .yarn/cache/@tanstack-react-query-npm-5.52.0-2024f6d138-6976d309d3.zip
  apps/admin/package.json
  apps/admin/src/app/api/cron/current-applicant-count/route.ts
  apps/admin/src/app/api/current-applicant-count/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/components/CurrentApplicantCountAction/index.module.scss
  apps/admin/src/components/CurrentApplicantCountAction/index.tsx
  apps/admin/src/components/CurrentApplicantCountForm/index.tsx
  apps/admin/src/components/common/ClientLayout/index.tsx
  apps/admin/vercel.json
  yarn.lock
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests, yarn turbo:stylelint

chore: yarn version update
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore: yarn version update (#175)
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore: admin에서 수정사항 반영 후 web api revalidated 시키는 로직 구현
  apps/admin/@types/environment.d.ts
  apps/admin/src/actions/count.ts
  apps/admin/src/app/api/cron/current-applicant-count/route.ts
  apps/admin/src/app/api/current-applicant-count/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/web/@types/environment.d.ts
  apps/web/src/app/api/revalidate/route.ts
  apps/web/src/lib/constants/time.ts
  apps/web/src/middleware.ts
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

chore: admin에서 수정사항 반영 후 web api revalidated 시키는 로직 구현 (#176)
  apps/admin/@types/environment.d.ts
  apps/admin/src/actions/count.ts
  apps/admin/src/app/api/cron/current-applicant-count/route.ts
  apps/admin/src/app/api/current-applicant-count/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/web/@types/environment.d.ts
  apps/web/src/app/api/revalidate/route.ts
  apps/web/src/lib/constants/time.ts
  apps/web/src/middleware.ts
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

fix: revalidate web fetch의 url이 잘못 들어가있어 에러가 나는 이슈 수정
  apps/admin/src/app/api/handler.ts
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

fix: revalidate web fetch의 url이 잘못 들어가있어 에러가 나는 이슈 수정 (#178)
  apps/admin/src/app/api/handler.ts
Due: yarn workspace admin lint --cache, yarn turbo:test:coverage --findRelatedTests

perf(web): social icon 링크에 인식 가능한 이름 aria-lable 적용
  apps/web/src/components/molecules/SocialIconLink/index.tsx
Due: yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

perf(web): social icon 링크에 인식 가능한 이름 aria-label 적용 (#180)
  apps/web/src/components/molecules/SocialIconLink/index.tsx
Due: yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

chore: naver search advisor 등록
  apps/web/public/naver5405fb57b4268094a47e61d51aec506f.html
Due: none

chore: eol 추가
  apps/web/public/naver5405fb57b4268094a47e61d51aec506f.html
Due: none

chore: naver search advisor 등록 (#182)
  apps/web/public/naver5405fb57b4268094a47e61d51aec506f.html
Due: none

chore: 11기 종료로 인한 상태 업데이트
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/event_status.json
Due: yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests

chore: 11기 종료로 인한 상태 업데이트 (#184)
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/event_status.json
Due: yarn workspace web lint --cache, yarn turbo:test:coverage --findRelatedTests
