Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/ui lint --cache"
  ],
  "packages/core/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/core lint --cache"
  ],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ],
  "apps/admin/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace admin lint --cache"
  ],
  "*.{js,jsx,ts,tsx}": [
    "yarn test:coverage --findRelatedTests"
  ]
}

fix: ci generate cache path
  .github/workflows/ci.yml
Due: none

fix: ci error
  .github/workflows/ci.yml
  apps/web/scripts/generate-applicant-count.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: ci job_generate_applicant_count pipeline (#251)
  .github/workflows/ci.yml
  apps/web/scripts/generate-applicant-count.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: script vercel 배포 실패하는 이슈 테스트
  apps/web/scripts/generate-applicant-count.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: env 테스트
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: web build
  apps/web/turbo.json
Due: none

fix: build error
  apps/web/next.config.js
  apps/web/turbo.json
  turbo.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: script vercel 배포 실패하는 이슈 (#252)
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/next.config.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  apps/web/turbo.json
  turbo.json
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: console 제거 및 사용하지 않는 dependency 삭제
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: eslint 수정
  apps/web/.eslintrc.js
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: console 제거 및 사용하지 않는 dependency 삭제 (#254)
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

Revert "refactor: console 제거 및 사용하지 않는 dependency 삭제 (#254)"
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

Revert "refactor: console 제거 및 사용하지 않는 dependency 삭제" (#258)
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

Revert "Revert "refactor: console 제거 및 사용하지 않는 dependency 삭제" (#258)"
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

Revert "Revert "refactor: console 제거 및 사용하지 않는 dependency 삭제"" (#259)
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: checkNumber 변수명 ensureNumber로 변경
  apps/web/scripts/generate-applicant-count.ts
  apps/web/src/lib/apis/job.ts
  apps/web/src/lib/apis/organizer.ts
  apps/web/src/lib/apis/project.ts
  apps/web/src/lib/apis/review.ts
  apps/web/src/utils/index.test.ts
  apps/web/src/utils/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: checkNumber 변수명 ensureNumber로 변경 (#262)
  apps/web/scripts/generate-applicant-count.ts
  apps/web/src/lib/apis/job.ts
  apps/web/src/lib/apis/organizer.ts
  apps/web/src/lib/apis/project.ts
  apps/web/src/lib/apis/review.ts
  apps/web/src/utils/index.test.ts
  apps/web/src/utils/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 프로젝트, 리뷰 데이터 추가
  apps/web/src/lib/assets/data/projects.json
  apps/web/src/lib/assets/data/reviews.json
Due: none

chore: 프로젝트, 리뷰 데이터 추가 (#264)
  apps/web/src/lib/assets/data/projects.json
  apps/web/src/lib/assets/data/reviews.json
Due: none

fix: type error unused file
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/ProjectPDFViewer/index.module.scss
  apps/web/src/components/molecules/ProjectPDFViewer/index.tsx
  packages/ui/src/hoc/withServerErrorBoundary.tsx
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: metadata type 추가
  apps/web/src/app/dnd/about/page.tsx
  apps/web/src/app/dnd/culture/page.tsx
  apps/web/src/app/organizers/[id]/page.tsx
  apps/web/src/app/organizers/page.tsx
  apps/web/src/app/projects/[id]/page.tsx
  apps/web/src/app/projects/page.tsx
  apps/web/src/app/reviews/page.tsx
  apps/web/src/components/global/GlobalPortal/index.tsx
  apps/web/src/lib/constants/metadata.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: node v22에서 canvas 지원 안되는 이슈 및 pdf withResolvers 에러 수정
  apps/web/src/components/organisms/ProjectPDFViewer/index.module.scss
  apps/web/src/components/organisms/ProjectPDFViewer/index.tsx
  apps/web/src/components/pages/ProjectPage/index.module.scss
  apps/web/src/components/pages/ProjectPage/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: package resolutions를 yarn packageExtensions로 변경 & event status hydration 에러 수정
  .yarnrc.yml
  apps/admin/package.json
  apps/web/package.json
  apps/web/src/components/atoms/ClientOnly/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  packages/ui/package.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: yarn packageExtensions로 변경 & event status hydration 에러 수정 (#266)
  .yarnrc.yml
  apps/admin/package.json
  apps/web/package.json
  apps/web/src/components/atoms/ClientOnly/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  packages/ui/package.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 모집 발표 날짜 수정
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/lib/assets/data/event_status.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 모집 발표 일자 수정
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/lib/assets/data/event_status.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 모집 발표 일자 수정 (#269)
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/lib/assets/data/event_status.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 총 참여자수 업데이트
  apps/web/src/lib/assets/data/total_count_status.json
Due: none

chore: 총 참여자수 업데이트 (#272)
  apps/web/src/lib/assets/data/total_count_status.json
Due: none

chore: 합격자발표 시간 변경
  .vscode/settings.json
  apps/web/src/lib/assets/data/event_status.json
Due: none

chore: 합격자발표 시간 변경 (#274)
  .vscode/settings.json
  apps/web/src/lib/assets/data/event_status.json
Due: none

chore: acitve 이벤트 상태 추가
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/lib/assets/data/event_status.json
  packages/core/src/@types/event.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: active 이벤트 상태 추가 (#276)
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/lib/assets/data/event_status.json
  packages/core/src/@types/event.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: yarn 버전 업데이트
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore: yarn 버전 업데이트 (#278)
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: none
