Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: vercel blob cache issue로 최신 데이터 업데이트가 안되는 이슈 수정
  apps/admin/src/actions/count.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/middleware.ts
  apps/web/@types/environment.d.ts
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  packages/core/src/api/index.ts
  packages/core/src/utils/index.ts
  yarn.lock
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix(admin): blob sdk 사용시 edge function 이용해야함
  apps/admin/src/app/api/blob/latest/[name]/route.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  packages/core/src/api/index.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore: remove edge runtime
  apps/admin/src/app/api/blob/latest/[name]/route.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore: test vercel.json
  apps/admin/vercel.json
  apps/web/vercel.json
Due: none

chore: vercel.json rollback
  apps/admin/vercel.json
  apps/web/vercel.json
Due: none

chore: test prefix url
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: build error
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: vercel blob cache issue로 최신 데이터 업데이트가 안되는 이슈 수정 (#186)
  apps/admin/src/actions/count.ts
  apps/admin/src/app/api/blob/latest/[name]/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/middleware.ts
  apps/web/@types/environment.d.ts
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  packages/core/src/api/index.ts
  packages/core/src/utils/index.ts
  yarn.lock
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: blob token 이슈 수정
  apps/admin/@types/environment.d.ts
  apps/admin/src/app/api/blob/latest/[name]/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: test admin blob token issue
  apps/admin/src/app/api/blob/latest/[name]/route.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: blob token 이슈 수정 (#187)
  apps/admin/@types/environment.d.ts
  apps/admin/src/app/api/blob/latest/[name]/route.ts
  apps/admin/src/app/api/handler.ts
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(admin): server component에 header 사용 제거
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: build error
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(admin): server component에 header 사용 제거 (#188)
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Revert "chore(admin): server component에 header 사용 제거 (#188)"
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Revert "chore(admin): server component에 header 사용 제거 (#188)" (#190)
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Revert "Revert "chore(admin): server component에 header 사용 제거 (#188)" (#190)"
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Revert "Revert "chore(admin): server component에 header 사용 제거 (#188)" (#190)" (#191)
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

refactor: serverErrorboundary를 hoc로 refactoring 및 ui 패키지로 이동
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
  packages/core/src/utils/index.ts
  packages/ui/package.json
  packages/ui/src/hoc/withServerErrorBoundary.tsx
  packages/ui/src/server.ts
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

ci: fix ci pipeline error
  .github/workflows/ci.yml
Due: none

refactor: serverErrorboundary를 hoc로 refactoring 및 ui 패키지로 이동 (#192)
  .github/workflows/ci.yml
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
  apps/admin/src/components/common/ServerErrorBoundary/index.tsx
  apps/admin/src/utils/index.ts
  packages/core/src/utils/index.ts
  packages/ui/package.json
  packages/ui/src/hoc/withServerErrorBoundary.tsx
  packages/ui/src/server.ts
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix(web): blob 에러 이슈 수정
  apps/web/src/app/api/blob/latest/[name]/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix(web): blob 에러 이슈 수정 (#193)
  apps/web/src/app/api/blob/latest/[name]/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: admin blob url이 달라서 빌드이후 404떨어지는 이슈
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: admin blob url이 달라서 빌드이후 404떨어지는 이슈 (#196)
  apps/admin/src/app/current-applicant-count/page.tsx
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

refactor: css import 정렬 rule 수정 module css만 가장 밑으로 오도록 변경
  apps/admin/src/app/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/molecules/PDFViewer/index.tsx
  packages/eslint-config/index.js
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

refactor: css import 정렬 rule 수정 module css만 가장 밑으로 오도록 변경 (#199)
  apps/admin/src/app/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/molecules/PDFViewer/index.tsx
  packages/eslint-config/index.js
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

docs: readme의 블로그 글 링크 수정
  README.md
Due: none

docs: readme의 블로그 글 링크 수정 (#200)
  README.md
Due: none

chore: 11기 프로젝트 및 리뷰 추가
  apps/web/src/lib/assets/data/projects.json
  apps/web/src/lib/assets/data/reviews.json
Due: none

chore: update next-env
  apps/admin/next-env.d.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore: 11기 프로젝트 및 리뷰 추가 (#201)
  apps/admin/next-env.d.ts
  apps/web/src/lib/assets/data/projects.json
  apps/web/src/lib/assets/data/reviews.json
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore: 11th pdf data 추가
  apps/web/src/lib/assets/data/projects.json
Due: none

chore: 11th pdf data 추가 (#202)
  apps/web/src/lib/assets/data/projects.json
Due: none

Path conditions:
  yarn workspace @dnd-academy/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace @dnd-academy/core lint --cache: any of: packages/core/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
  yarn workspace admin lint --cache: any of: apps/admin/**/*.{js,jsx,ts,tsx}
  yarn test:coverage --findRelatedTests: any of: *.{js,jsx,ts,tsx}
