Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): eslint 및 typescript-eslint 최신화 (#451)
  apps/admin/package.json
  apps/web/package.json
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore: prettier 를 oxfmt 로 전환
  .oxfmtrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  docs/getting-started.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

style: oxfmt 로 전체 재포맷
  packages/core/src/@types/review.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn test:coverage --findRelatedTests

chore: oxlint 도입 (eslint 와 병행) 및 prettier 를 oxfmt 로 전환 (#452)
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  docs/getting-started.md
  lefthook.yml
  package.json
  packages/core/src/@types/review.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui/index.d.ts
  pnpm-lock.yaml
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): sass 1.104 / sass-loader 17 업그레이드 및 @import 를 @use 로 전환
  apps/admin/next.config.js
  apps/admin/package.json
  apps/web/.storybook/main.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/styles/global.scss
  packages/ui/package.json
  packages/ui/src/styles/index.scss
  packages/ui/src/styles/main.scss
  packages/ui/src/styles/mixin/text.scss
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): sass 1.104 / sass-loader 17 업그레이드 및 @import 를 @use 로 전환 (#453)
  apps/admin/next.config.js
  apps/admin/package.json
  apps/web/.storybook/main.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/styles/global.scss
  packages/ui/package.json
  packages/ui/src/styles/index.scss
  packages/ui/src/styles/main.scss
  packages/ui/src/styles/mixin/text.scss
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: oxlint react 경고 4건 수정 및 규칙을 error 로 상향
  .oxlintrc.json
  apps/web/src/components/atoms/ScrollElement/index.tsx
  apps/web/src/components/global/Toast/index.tsx
  apps/web/src/hooks/useCurrentTime.ts
  packages/ui/src/hooks/useIsMounted.ts
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 패키지 exports 에서 types 조건을 가장 앞으로 이동
  packages/core/package.json
  packages/ui/package.json
Due: none

fix: oxlint react 경고 4건 수정 및 exports 조건 순서 정리 (#463)
  .oxlintrc.json
  apps/web/src/components/atoms/ScrollElement/index.tsx
  apps/web/src/components/global/Toast/index.tsx
  apps/web/src/hooks/useCurrentTime.ts
  packages/core/package.json
  packages/ui/package.json
  packages/ui/src/hooks/useIsMounted.ts
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): vite 8 / @vitejs/plugin-react 6 업그레이드
  apps/web/package.json
  packages/core/package.json
  packages/core/vite.config.mts
  packages/ui/package.json
  packages/ui/src/components/molecules/CounterCard/index.tsx
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): vite 8 / @vitejs/plugin-react 6 업그레이드 (#454)
  apps/web/package.json
  packages/core/package.json
  packages/core/vite.config.mts
  packages/ui/package.json
  packages/ui/src/components/molecules/CounterCard/index.tsx
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): TypeScript 6.0.3 업그레이드
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  apps/admin/tsconfig.json
  apps/web/.storybook/preview.tsx
  apps/web/cypress/tsconfig.json
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.scripts.json
  package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): TypeScript 6.0.3 업그레이드 (#455)
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  apps/admin/tsconfig.json
  apps/web/.storybook/preview.tsx
  apps/web/cypress/tsconfig.json
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.scripts.json
  package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(test): jest 를 vitest 로 전환
  .oxlintrc.json
  apps/admin/jest.config.js
  apps/admin/package.json
  apps/admin/tsconfig.json
  apps/admin/vitest.config.mts
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/app/robots.test.ts
  apps/web/src/app/sitemap.test.ts
  apps/web/src/components/atoms/ResponsiveMasonry/index.test.tsx
  apps/web/src/components/atoms/Tag/index.test.tsx
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/lib/constants/metadata.test.ts
  apps/web/src/lib/constants/origin.test.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.mts
  docs/getting-started.md
  jest.config.js
  jest.setup.ts
  lefthook.yml
  package.json
  packages/core/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui/@types/jest.d.ts
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/atoms/AccordionItem/index.test.tsx
  packages/ui/src/components/molecules/Button/index.test.tsx
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.mts
  pnpm-lock.yaml
  vitest.config.mts
  vitest.setup.ts
  vitest.shared.mts
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(test): jest 를 vitest 로 전환 (#456)
  .oxlintrc.json
  apps/admin/jest.config.js
  apps/admin/package.json
  apps/admin/tsconfig.json
  apps/admin/vitest.config.mts
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/app/robots.test.ts
  apps/web/src/app/sitemap.test.ts
  apps/web/src/components/atoms/ResponsiveMasonry/index.test.tsx
  apps/web/src/components/atoms/Tag/index.test.tsx
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/lib/constants/metadata.test.ts
  apps/web/src/lib/constants/origin.test.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.mts
  docs/getting-started.md
  jest.config.js
  jest.setup.ts
  lefthook.yml
  package.json
  packages/core/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui/@types/jest.d.ts
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/atoms/AccordionItem/index.test.tsx
  packages/ui/src/components/molecules/Button/index.test.tsx
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.mts
  pnpm-lock.yaml
  vitest.config.mts
  vitest.setup.ts
  vitest.shared.mts
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(deps): next 16.3.6 업그레이드 (보안 패치 포함)
  .github/dependabot.yml
  apps/admin/package.json
  apps/web/package.json
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/config/next-upgrade.test.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore(deps): next 16.3.6 업그레이드 (보안 패치 포함) (#468)
  .github/dependabot.yml
  apps/admin/package.json
  apps/web/package.json
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/config/next-upgrade.test.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

docs: 15기 운영진 경력 변경
  apps/web/src/lib/assets/data/organizers.json
Due: none

docs: 15기 운영진 경력 변경 (#470)
  apps/web/src/lib/assets/data/organizers.json
Due: none

chore: eslint 제거하고 oxlint 로 린트 일원화
  .claude/skills/recruitment-open/SKILL.md
  .github/dependabot.yml
  .gitignore
  .oxfmtrc.json
  .vscode/extensions.json
  .vscode/settings.json
  apps/admin/.eslintrc.js
  apps/admin/.gitignore
  apps/admin/eslint.config.mjs
  apps/admin/package.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/config/next-upgrade.test.ts
  docs/getting-started.md
  lefthook.yml
  package.json
  packages/core/.eslintrc.js
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/eslint-config/.gitignore
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui/.eslintrc.js
  packages/ui/.gitignore
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Path conditions:
  yarn workspace @dnd-academy/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace @dnd-academy/core lint --cache: any of: packages/core/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
  yarn workspace admin lint --cache: any of: apps/admin/**/*.{js,jsx,ts,tsx}
  yarn test:coverage --findRelatedTests: any of: *.{js,jsx,ts,tsx}
