Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

fix: 스폰서 이미지 크기가 각자 다른 이슈 수정
  apps/web/public/assets/logos/sponsors/asan-nanum.png
  apps/web/public/assets/logos/sponsors/easys-publishing.png
  apps/web/public/assets/logos/sponsors/hanbit.png
  apps/web/public/assets/logos/sponsors/impact-campus.png
  apps/web/public/assets/logos/sponsors/maru180.png
  apps/web/public/assets/logos/sponsors/naver-d2.png
  apps/web/public/assets/logos/sponsors/notefolio.png
  apps/web/public/assets/logos/sponsors/wanted.png
  apps/web/public/assets/logos/sponsors/witi.png
  apps/web/src/components/organisms/SponsorSection/index.module.scss
  apps/web/src/components/organisms/SponsorSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 스폰서 이미지 크기가 각자 다른 이슈 수정 (#229)
  apps/web/public/assets/logos/sponsors/asan-nanum.png
  apps/web/public/assets/logos/sponsors/easys-publishing.png
  apps/web/public/assets/logos/sponsors/hanbit.png
  apps/web/public/assets/logos/sponsors/impact-campus.png
  apps/web/public/assets/logos/sponsors/maru180.png
  apps/web/public/assets/logos/sponsors/naver-d2.png
  apps/web/public/assets/logos/sponsors/notefolio.png
  apps/web/public/assets/logos/sponsors/wanted.png
  apps/web/public/assets/logos/sponsors/witi.png
  apps/web/src/components/organisms/SponsorSection/index.module.scss
  apps/web/src/components/organisms/SponsorSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: 사용하지 않는 로고 svg 삭제
  apps/web/src/lib/assets/logos/elice.svg
  apps/web/src/lib/assets/logos/index.ts
  apps/web/src/lib/assets/logos/notefolio.svg
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: 사용하지 않는 로고 svg 삭제 (#231)
  apps/web/src/lib/assets/logos/elice.svg
  apps/web/src/lib/assets/logos/index.ts
  apps/web/src/lib/assets/logos/notefolio.svg
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 크리스마스 theme 적용
  apps/web/public/assets/images/christmas/sock.png
  apps/web/public/assets/images/home-banner-christmas.png
  apps/web/public/assets/images/home-banner.png
  apps/web/src/components/atoms/SectionTitle/index.tsx
  apps/web/src/components/global/TopNavigationBar/index.module.scss
  apps/web/src/components/global/TopNavigationBar/index.tsx
  apps/web/src/components/organisms/CounterCardSection/index.module.scss
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.module.scss
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/logos/dnd-christmas.svg
  apps/web/src/lib/assets/logos/index.ts
  apps/web/src/utils/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 크리스마스 theme 적용 (#233)
  apps/web/public/assets/images/christmas/sock.png
  apps/web/public/assets/images/home-banner-christmas.png
  apps/web/public/assets/images/home-banner.png
  apps/web/src/components/atoms/SectionTitle/index.tsx
  apps/web/src/components/global/TopNavigationBar/index.module.scss
  apps/web/src/components/global/TopNavigationBar/index.tsx
  apps/web/src/components/organisms/CounterCardSection/index.module.scss
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.module.scss
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/logos/dnd-christmas.svg
  apps/web/src/lib/assets/logos/index.ts
  apps/web/src/utils/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: count card 컴포넌트 크리스마스 theme 적용
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  packages/ui/src/components/molecules/CounterCard/CounterCard.stories.tsx
  packages/ui/src/components/molecules/CounterCard/index.module.scss
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  packages/ui/src/components/molecules/CounterCard/index.tsx
  packages/ui/src/styles/variables.scss
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix(admin): build error
  apps/admin/src/app/total-count-status/page.tsx
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

feat: count card 컴포넌트 크리스마스 theme 적용 (#234)
  apps/admin/src/app/total-count-status/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  packages/ui/src/components/molecules/CounterCard/CounterCard.stories.tsx
  packages/ui/src/components/molecules/CounterCard/index.module.scss
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  packages/ui/src/components/molecules/CounterCard/index.tsx
  packages/ui/src/styles/variables.scss
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

feat(web): share alarm section 크리스마스 theme 적용
  apps/web/public/assets/images/christmas/leaf-angle.png
  apps/web/src/components/organisms/ShareAlarmSection/index.module.scss
  apps/web/src/components/organisms/ShareAlarmSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat(web): share alarm section 크리스마스 theme 적용 (#235)
  apps/web/public/assets/images/christmas/leaf-angle.png
  apps/web/src/components/organisms/ShareAlarmSection/index.module.scss
  apps/web/src/components/organisms/ShareAlarmSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat(web): 눈내리는 이펙트 적용
  .yarn/cache/react-fast-compare-npm-3.2.2-45b585a872-a6826180ba.zip
  .yarn/cache/react-snowfall-npm-2.2.0-a81957d5c6-ef9945ec75.zip
  apps/web/package.json
  apps/web/src/components/global/ClientProviders/index.tsx
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat(web): 눈내리는 이펙트 적용 (#236)
  .yarn/cache/react-fast-compare-npm-3.2.2-45b585a872-a6826180ba.zip
  .yarn/cache/react-snowfall-npm-2.2.0-a81957d5c6-ef9945ec75.zip
  apps/web/package.json
  apps/web/src/components/global/ClientProviders/index.tsx
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 눈 내리는 눈 개수 수정
  apps/web/src/components/global/ClientProviders/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 눈 내리는 눈 개수 수정 (#237)
  apps/web/src/components/global/ClientProviders/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 화면 크기에 따라서 눈 양 수정
  apps/web/src/components/global/ClientProviders/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 화면 크기에 따라서 눈 양 조정
  apps/web/src/components/global/ClientProviders/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 화면 크기에 따라서 눈 양 조정 (#239)
  apps/web/src/components/global/ClientProviders/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 엘리스 스폰서 로고 추가
  apps/web/public/assets/logos/sponsors/elice.png
  apps/web/src/components/organisms/SponsorSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 엘리스 스폰서 로고 추가 (#241)
  apps/web/public/assets/logos/sponsors/elice.png
  apps/web/src/components/organisms/SponsorSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 이탈자 기수 이전기수로 수정
  apps/web/src/components/organisms/CounterCardSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 이탈자 기수 이전기수로 수정 (#242)
  apps/web/src/components/organisms/CounterCardSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: motion deprecated warning 수정
  packages/ui/src/components/molecules/Button/index.tsx
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests

fix: motion deprecated warning 수정 (#244)
  packages/ui/src/components/molecules/Button/index.tsx
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests

style: 모달 아래서 위로 뜨는 애니메이션 추가
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.module.scss
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

style: 모달 아래서 위로 뜨는 애니메이션 추가 (#246)
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.module.scss
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: update yarn version
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: none

chore: update yarn version (#248)
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: none

feat: 지원자 카운트 추가
  .yarn/cache/axios-npm-1.7.4-cc1c89ddba-7a1429be1e.zip
  .yarn/cache/axios-npm-1.7.8-b20f5c399f-7ddcde1880.zip
  .yarn/cache/google-auth-library-npm-9.13.0-8ea2ec9721-132616d668.zip
  .yarn/cache/google-auth-library-npm-9.15.0-c779eff0b6-fba2db9732.zip
  .yarn/cache/google-spreadsheet-npm-4.1.2-e7715a2434-7121b13050.zip
  .yarn/cache/google-spreadsheet-npm-4.1.4-f32ebfa32c-37359c9816.zip
  apps/admin/package.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/apis/event.ts
  apps/web/src/lib/assets/data/event_status.json
  apps/web/src/lib/assets/data/index.ts
  apps/web/tsconfig.scripts.json
  packages/core/src/@types/count.ts
  packages/core/vite.config.mts.timestamp-1733148292172-ac70e96e7f5df.mjs
  packages/ui/vite.config.mts.timestamp-1733148291600-788f8cf0d0e04.mjs
  yarn.lock
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 불필요한 vite 파일 삭제
  packages/core/vite.config.mts.timestamp-1733148292172-ac70e96e7f5df.mjs
  packages/ui/vite.config.mts.timestamp-1733148291600-788f8cf0d0e04.mjs
Due: none

feat: 지원자 카운트 추가 (#249)
  .yarn/cache/axios-npm-1.7.4-cc1c89ddba-7a1429be1e.zip
  .yarn/cache/axios-npm-1.7.8-b20f5c399f-7ddcde1880.zip
  .yarn/cache/google-auth-library-npm-9.13.0-8ea2ec9721-132616d668.zip
  .yarn/cache/google-auth-library-npm-9.15.0-c779eff0b6-fba2db9732.zip
  .yarn/cache/google-spreadsheet-npm-4.1.2-e7715a2434-7121b13050.zip
  .yarn/cache/google-spreadsheet-npm-4.1.4-f32ebfa32c-37359c9816.zip
  apps/admin/package.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/package.json
  apps/web/scripts/generate-applicant-count.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/apis/event.ts
  apps/web/src/lib/assets/data/event_status.json
  apps/web/src/lib/assets/data/index.ts
  apps/web/tsconfig.scripts.json
  packages/core/src/@types/count.ts
  yarn.lock
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

ci: job_generate_applicant_count 파이프라인 추가
  .github/workflows/ci.yml
Due: none

ci: job_generate_applicant_count 파이프라인 추가 (#250)
  .github/workflows/ci.yml
Due: none

fix: ci job_generate_applicant_count pipeline
  .github/workflows/ci.yml
Due: none

fix: ci error
  .github/workflows/ci.yml
Due: none

fix: ci needs
  .github/workflows/ci.yml
Due: none

fix: ci error
  apps/web/scripts/generate-applicant-count.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: ci generate data
  .github/workflows/ci.yml
Due: none

fix: ci job_generate_data
  .github/workflows/ci.yml
Due: none

Path conditions:
  yarn workspace @dnd-academy/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace @dnd-academy/core lint --cache: any of: packages/core/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
  yarn workspace admin lint --cache: any of: apps/admin/**/*.{js,jsx,ts,tsx}
  yarn test:coverage --findRelatedTests: any of: *.{js,jsx,ts,tsx}
