Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/ui lint --cache"
  ],
  "packages/core/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/core lint --cache"
  ],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ],
  "apps/admin/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace admin lint --cache"
  ],
  "*.{js,jsx,ts,tsx}": [
    "yarn test:coverage --findRelatedTests"
  ]
}

chore(admin): apply same next-env.d.ts handling as apps/web
  apps/admin/.eslintrc.js
  apps/admin/next-env.d.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(admin): apply same next-env.d.ts handling as apps/web (#369)
  apps/admin/.eslintrc.js
  apps/admin/next-env.d.ts
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore(deps): add transitive vuln resolutions
  package.json
  yarn.lock
Due: none

chore(deps): drop redundant resolutions, add dependabot
  .github/dependabot.yml
  package.json
  yarn.lock
Due: none

chore(deps): bump react-pdf to 10.x, drop canvas portal stub
  __stubs__/canvas/index.js
  __stubs__/canvas/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn test:coverage --findRelatedTests

Revert "chore(deps): bump react-pdf to 10.x, drop canvas portal stub"
  __stubs__/canvas/index.js
  __stubs__/canvas/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn test:coverage --findRelatedTests

docs(canvas-stub): note why portal stub stays and removal conditions
  __stubs__/canvas/index.js
  __stubs__/canvas/package.json
  apps/web/next.config.js
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore(deps): transitive 취약점 대응 전략 재정비 (resolutions 정리 + dependabot 도입) (#370)
  .github/dependabot.yml
  __stubs__/canvas/index.js
  __stubs__/canvas/package.json
  apps/web/next.config.js
  package.json
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore(ci): tighten dependabot ignore list, drop dead testing pattern
  .github/dependabot.yml
Due: none

chore(ci): tighten dependabot ignore list, drop dead testing pattern (#375)
  .github/dependabot.yml
Due: none

fix: 직행 후원사 제거
  apps/web/public/assets/logos/sponsors/zighang.png
  apps/web/src/components/organisms/SponsorSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 스폰서 업데이트 관련 스킬추가.
  .claude/skills/sponsors-update/SKILL.md
Due: none

chore(sponsors): drop zighang sponsor and add sponsors-update skill (#379)
  .claude/skills/sponsors-update/SKILL.md
  apps/web/public/assets/logos/sponsors/zighang.png
  apps/web/src/components/organisms/SponsorSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: ui 패키지내 stylelint 추가
  packages/ui/package.json
  yarn.lock
Due: none

fix: legacy 스타일 속성 수정
  apps/web/src/components/pages/AboutPage/index.module.scss
  apps/web/src/components/pages/OrganizerPage/index.module.scss
Due: none

fix(ui): use list.length namespace to satisfy scss/no-global-function-names
  packages/ui/src/styles/mixin/functions.scss
  packages/ui/src/styles/mixin/text.scss
Due: none

fix(ui): packages/ui 워크스페이스 stylelint 의존성 + SCSS 린트 위반 정리 (#382)
  apps/web/src/components/pages/AboutPage/index.module.scss
  apps/web/src/components/pages/OrganizerPage/index.module.scss
  packages/ui/package.json
  packages/ui/src/styles/mixin/functions.scss
  packages/ui/src/styles/mixin/text.scss
  yarn.lock
Due: none

docs: add getting-started guide for mise + lefthook setup
  docs/getting-started.md
Due: none

ci: Storybook 10 지원 Node로 CI를 맞춘다
  .github/workflows/ci.yml
  apps/web/src/config/next-upgrade.test.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: mise Node 버전을 Storybook 10 기준에 맞춘다
  apps/web/src/config/next-upgrade.test.ts
  docs/getting-started.md
  mise.toml
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

ci: Vercel 빌드가 Turborepo strict env에서 필요한 환경을 받도록 한다
  apps/web/src/config/next-upgrade.test.ts
  turbo.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

ci: Vercel 빌드가 Turborepo strict env에서 필요한 환경을 받도록 한다 (#387)
  apps/web/src/config/next-upgrade.test.ts
  turbo.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 웹 런타임 오류와 hydration 경고 재발 가능성을 줄인다
  apps/web/src/components/atoms/ResponsiveMasonry/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalOpenButton/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalProvider/index.tsx
  apps/web/src/components/molecules/ShareClipBoardCTA/index.tsx
  apps/web/src/components/organisms/ApplyModal/index.tsx
  apps/web/src/components/organisms/ApplyNotifyButtonGroup/index.tsx
  apps/web/src/components/organisms/ShareAlarmSection/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: jsx 설정 react-jsx로 변경
  apps/web/.storybook/preview.tsx
  apps/web/__mocks__/svg.tsx
  packages/ui/__mocks__/svg.tsx
  tsconfig.base.json
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: next-env.d.ts를 git 트래킹에서 제외한다
  apps/admin/.gitignore
  apps/admin/next-env.d.ts
  apps/web/.gitignore
  apps/web/next-env.d.ts
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore: 스토리북 설정 파일을 web tsconfig include에 포함한다
  apps/web/tsconfig.json
Due: none

chore: 웹 런타임 안정성 개선과 TS/Next 설정 정리 (#388)
  apps/admin/.gitignore
  apps/admin/next-env.d.ts
  apps/web/.gitignore
  apps/web/.storybook/preview.tsx
  apps/web/__mocks__/svg.tsx
  apps/web/next-env.d.ts
  apps/web/src/components/atoms/ResponsiveMasonry/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalOpenButton/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalProvider/index.tsx
  apps/web/src/components/molecules/ShareClipBoardCTA/index.tsx
  apps/web/src/components/organisms/ApplyModal/index.tsx
  apps/web/src/components/organisms/ApplyNotifyButtonGroup/index.tsx
  apps/web/src/components/organisms/ShareAlarmSection/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/tsconfig.json
  packages/ui/__mocks__/svg.tsx
  tsconfig.base.json
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

perf(web): google analytics를 dynamic import로 lazy load
  apps/web/src/app/layout.tsx
  apps/web/src/components/global/DeferredAnalytics/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

perf(web): vercel analytics 추가
  .yarn/cache/@vercel-analytics-npm-2.0.1-728d94e8b4-ffef3eea08.zip
  .yarn/cache/@vercel-speed-insights-npm-2.0.0-5600a71a55-c8bb85c8e9.zip
  apps/web/package.json
  apps/web/src/components/global/DeferredAnalytics/index.tsx
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

perf(web): analytics 스크립트 지연 로드 (#389)
  .yarn/cache/@vercel-analytics-npm-2.0.1-728d94e8b4-ffef3eea08.zip
  .yarn/cache/@vercel-speed-insights-npm-2.0.0-5600a71a55-c8bb85c8e9.zip
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/global/DeferredAnalytics/index.tsx
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: prettier 도입 및 eslint와 통합
  .prettierignore
  .prettierrc.json
  .yarn/cache/eslint-config-prettier-npm-10.1.8-c1c834370f-03f8e6ea1a.zip
  .yarn/cache/prettier-npm-3.8.3-ecd857a540-4b3b12cbb2.zip
  lefthook.yml
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Due: yarn test:coverage --findRelatedTests
