Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

chore: mise.toml 추가로 Node/Yarn 버전 통일
  mise.toml
Due: none

fix: 운영진/프로젝트 detail 페이지 메타데이터 인덱싱 문제 수정 (#349)
  apps/web/src/app/organizers/[id]/page.tsx
  apps/web/src/app/projects/[id]/page.tsx
  apps/web/src/app/sitemap.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: mise.toml 추가로 Node/Yarn 버전 통일 (#350)
  mise.toml
Due: none

chore: 브랜치 머지 정책 문서화 및 ruleset 코드화
  .github/rulesets/README.md
  .github/rulesets/develop.json
  .github/rulesets/main.json
  CONTRIBUTING.md
Due: none

chore: 브랜치 머지 정책 문서화 및 ruleset 코드화 (#352)
  .github/rulesets/README.md
  .github/rulesets/develop.json
  .github/rulesets/main.json
  CONTRIBUTING.md
Due: none

chore: 기수 데이터 업데이트용 Claude 스킬 6종 추가 및 기존 Python 스크립트 제거
  .claude/commands/update-generation.md
  .claude/scripts/update_generation.py
  .claude/skills/cohort-update/SKILL.md
  .claude/skills/event-status-update/SKILL.md
  .claude/skills/organizers-update/SKILL.md
  .claude/skills/projects-update/SKILL.md
  .claude/skills/reviews-update/SKILL.md
  .claude/skills/total-count-update/SKILL.md
Due: none

chore: 기수 데이터 업데이트용 Claude 스킬 6종 추가 및 기존 Python 스크립트 제거 (#353)
  .claude/commands/update-generation.md
  .claude/scripts/update_generation.py
  .claude/skills/cohort-update/SKILL.md
  .claude/skills/event-status-update/SKILL.md
  .claude/skills/organizers-update/SKILL.md
  .claude/skills/projects-update/SKILL.md
  .claude/skills/reviews-update/SKILL.md
  .claude/skills/total-count-update/SKILL.md
Due: none

chore: 15기 모집 일정 반영 및 status UPCOMING으로 변경
  apps/web/src/lib/assets/data/event_status.json
Due: none

chore: 기수 모집 오픈용 recruitment-open 스킬 추가
  .claude/skills/recruitment-open/SKILL.md
Due: none

feat: 다음 기수 정보 입력 추가.
  apps/web/src/lib/constants/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 15기 모집 일정 반영 (status UPCOMING) (#354)
  apps/web/src/lib/assets/data/event_status.json
  apps/web/src/lib/constants/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: cohort-open 오케스트레이터 추가 및 recruitment-open 선택적 갱신 지원
  .claude/skills/cohort-open/SKILL.md
  .claude/skills/recruitment-open/SKILL.md
Due: none

chore: 기수 모집 오픈용 recruitment-open 스킬 추가 (#355)
  .claude/skills/cohort-open/SKILL.md
  .claude/skills/recruitment-open/SKILL.md
Due: none

fix: applicant-count.json placeholder 커밋하여 Vercel 빌드 ENOENT 해결
  apps/web/.gitignore
  apps/web/src/lib/assets/data/applicant-count.json
Due: none

fix: applicant-count.json placeholder 커밋하여 Vercel 빌드 ENOENT 해결 (#357)
  apps/web/.gitignore
  apps/web/src/lib/assets/data/applicant-count.json
Due: none

fix: 이탈자 표시 지난 기수로 표시되도록 수정
  apps/web/src/components/organisms/CounterCardSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 이탈자 표시 지난 기수로 표시되도록 수정 (#358)
  apps/web/src/components/organisms/CounterCardSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore(deps): bump vite to 5.4.21
  .yarn/cache/vite-npm-5.4.10-30d2e3a4e2-5d4a427d58.zip
  .yarn/cache/vite-npm-5.4.21-12a8265f9b-479a63e271.zip
  packages/core/package.json
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): bump qs to 6.14.2
  .yarn/cache/async-function-npm-1.0.0-a81667ebcd-1a09379937.zip
  .yarn/cache/async-generator-function-npm-1.0.0-14cf981d13-3d49e7acbe.zip
  .yarn/cache/call-bind-apply-helpers-npm-1.0.2-3eedbea3bb-00482c1f6a.zip
  .yarn/cache/call-bound-npm-1.0.4-359cfa32c7-ef2b96e126.zip
  .yarn/cache/dunder-proto-npm-1.0.1-90eb6829db-5add88a3d6.zip
  .yarn/cache/es-define-property-npm-1.0.1-3fc6324f1c-f8dc9e660d.zip
  .yarn/cache/es-object-atoms-npm-1.1.1-362d8043c2-54fe77de28.zip
  .yarn/cache/generator-function-npm-2.0.1-aed34a724a-eb7e7eb896.zip
  .yarn/cache/get-intrinsic-npm-1.3.1-2f734f40ec-bb579dda84.zip
  .yarn/cache/get-proto-npm-1.0.1-4d30bac614-4fc96afdb5.zip
  .yarn/cache/gopd-npm-1.2.0-df89ffa78e-94e296d69f.zip
  .yarn/cache/has-symbols-npm-1.1.0-9aa7dc2ac1-959385c986.zip
  .yarn/cache/math-intrinsics-npm-1.1.0-9204d80e7d-11df2eda46.zip
  .yarn/cache/object-inspect-npm-1.13.4-4e741f9806-aa13b1190a.zip
  .yarn/cache/qs-npm-6.12.1-8172168073-035bcad2a1.zip
  .yarn/cache/qs-npm-6.14.2-dc981e3564-682933a85b.zip
  .yarn/cache/side-channel-list-npm-1.0.1-7a0802d399-3499671cd5.zip
  .yarn/cache/side-channel-map-npm-1.0.1-5903573b3c-5771861f77.zip
  .yarn/cache/side-channel-npm-1.1.0-4993930974-7d53b9db29.zip
  .yarn/cache/side-channel-weakmap-npm-1.0.2-027acaf499-a815c89bc7.zip
  packages/core/package.json
  yarn.lock
Due: none

chore(deps): bump rollup to 4.60.4
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.60.4-3b29515b21-10.zip
  .yarn/cache/@types-estree-npm-1.0.8-2195bac6d6-25a4c16a67.zip
  .yarn/cache/rollup-npm-4.60.4-e335ee554f-514d970e68.zip
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): bump vite to 5.4.21 (#362)
  .yarn/cache/vite-npm-5.4.10-30d2e3a4e2-5d4a427d58.zip
  .yarn/cache/vite-npm-5.4.21-12a8265f9b-479a63e271.zip
  packages/core/package.json
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): bump qs to 6.14.2 (#365)
  .yarn/cache/async-function-npm-1.0.0-a81667ebcd-1a09379937.zip
  .yarn/cache/async-generator-function-npm-1.0.0-14cf981d13-3d49e7acbe.zip
  .yarn/cache/call-bind-apply-helpers-npm-1.0.2-3eedbea3bb-00482c1f6a.zip
  .yarn/cache/call-bound-npm-1.0.4-359cfa32c7-ef2b96e126.zip
  .yarn/cache/dunder-proto-npm-1.0.1-90eb6829db-5add88a3d6.zip
  .yarn/cache/es-define-property-npm-1.0.1-3fc6324f1c-f8dc9e660d.zip
  .yarn/cache/es-object-atoms-npm-1.1.1-362d8043c2-54fe77de28.zip
  .yarn/cache/generator-function-npm-2.0.1-aed34a724a-eb7e7eb896.zip
  .yarn/cache/get-intrinsic-npm-1.3.1-2f734f40ec-bb579dda84.zip
  .yarn/cache/get-proto-npm-1.0.1-4d30bac614-4fc96afdb5.zip
  .yarn/cache/gopd-npm-1.2.0-df89ffa78e-94e296d69f.zip
  .yarn/cache/has-symbols-npm-1.1.0-9aa7dc2ac1-959385c986.zip
  .yarn/cache/math-intrinsics-npm-1.1.0-9204d80e7d-11df2eda46.zip
  .yarn/cache/object-inspect-npm-1.13.4-4e741f9806-aa13b1190a.zip
  .yarn/cache/qs-npm-6.12.1-8172168073-035bcad2a1.zip
  .yarn/cache/qs-npm-6.14.2-dc981e3564-682933a85b.zip
  .yarn/cache/side-channel-list-npm-1.0.1-7a0802d399-3499671cd5.zip
  .yarn/cache/side-channel-map-npm-1.0.1-5903573b3c-5771861f77.zip
  .yarn/cache/side-channel-npm-1.1.0-4993930974-7d53b9db29.zip
  .yarn/cache/side-channel-weakmap-npm-1.0.2-027acaf499-a815c89bc7.zip
  packages/core/package.json
  yarn.lock
Due: none

chore(deps): bump rollup to 4.60.4 (#367)
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.60.4-3b29515b21-10.zip
  .yarn/cache/@types-estree-npm-1.0.8-2195bac6d6-25a4c16a67.zip
  .yarn/cache/rollup-npm-4.60.4-e335ee554f-514d970e68.zip
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): bump next-auth to 5.0.0-beta.30
  .yarn/cache/@auth-core-npm-0.37.2-e7256d003f-55261a23c1.zip
  .yarn/cache/@auth-core-npm-0.41.0-971e4b0f22-5810ce4b00.zip
  .yarn/cache/@types-cookie-npm-0.6.0-1f4c3f48f0-b883348d5b.zip
  .yarn/cache/cookie-npm-0.7.1-f01524ff99-aec6a6aa07.zip
  .yarn/cache/jose-npm-5.9.6-8196c83d4f-3ebbda9f6a.zip
  .yarn/cache/jose-npm-6.2.3-e99322e00c-876974613c.zip
  .yarn/cache/next-auth-npm-5.0.0-beta.25-7cc90ea639-9369b77e28.zip
  .yarn/cache/next-auth-npm-5.0.0-beta.30-93a79aca3b-0b6c5bfa26.zip
  .yarn/cache/oauth4webapi-npm-3.1.4-f7c1f0744d-0cb0b11529.zip
  .yarn/cache/oauth4webapi-npm-3.8.6-d99b72248c-980568a712.zip
  .yarn/cache/preact-npm-10.11.3-4973d2dda6-5ecfa9aee9.zip
  .yarn/cache/preact-npm-10.24.3-1e33d81667-e9c4c901a4.zip
  .yarn/cache/preact-render-to-string-npm-5.2.3-1f72a2f38e-7441fecbda.zip
  .yarn/cache/preact-render-to-string-npm-6.5.11-431b4c85e0-a77f7715f3.zip
  .yarn/cache/pretty-format-npm-3.8.0-293db331d9-c80009217d.zip
  apps/admin/package.json
  yarn.lock
Due: none

chore(deps): bump webpack to 5.104.1
  .yarn/cache/@types-eslint-npm-9.6.1-31a8cf74e4-719fcd2557.zip
  .yarn/cache/@types-eslint-scope-npm-3.7.7-efa26592f6-e2889a124a.zip
  .yarn/cache/@types-estree-npm-1.0.9-63428f58ff-16aabfa703.zip
  .yarn/cache/@webassemblyjs-ast-npm-1.14.1-3c3be7e1c7-f83e6abe38.zip
  .yarn/cache/@webassemblyjs-floating-point-hex-parser-npm-1.13.2-6fb28a43ea-e866ec8433.zip
  .yarn/cache/@webassemblyjs-helper-api-error-npm-1.13.2-960f9ddae0-48b5df7fd3.zip
  .yarn/cache/@webassemblyjs-helper-buffer-npm-1.14.1-41c842be6b-9690afeafa.zip
  .yarn/cache/@webassemblyjs-helper-numbers-npm-1.13.2-f66f9b062d-e4c7d0b098.zip
  .yarn/cache/@webassemblyjs-helper-wasm-bytecode-npm-1.13.2-d4f0224769-3edd191fff.zip
  .yarn/cache/@webassemblyjs-helper-wasm-section-npm-1.14.1-5243edbf41-6b73874f90.zip
  .yarn/cache/@webassemblyjs-ieee754-npm-1.13.2-a3a6a7b2fd-d7e3520baa.zip
  .yarn/cache/@webassemblyjs-leb128-npm-1.13.2-30bfcea7aa-3a10542c86.zip
  .yarn/cache/@webassemblyjs-utf8-npm-1.13.2-a0ec535507-27885e5d19.zip
  .yarn/cache/@webassemblyjs-wasm-edit-npm-1.14.1-f8509a0db6-c62c50eadc.zip
  .yarn/cache/@webassemblyjs-wasm-gen-npm-1.14.1-8b8d68f261-6085166b09.zip
  .yarn/cache/@webassemblyjs-wasm-opt-npm-1.14.1-d6b7083f9d-fa5d1ef8d2.zip
  .yarn/cache/@webassemblyjs-wasm-parser-npm-1.14.1-ad3b2c4a8f-07d9805fda.zip
  .yarn/cache/@webassemblyjs-wast-printer-npm-1.14.1-e43dc9a0b4-cef09aad2f.zip
  .yarn/cache/acorn-import-phases-npm-1.0.4-c85e685904-471050ac7d.zip
  .yarn/cache/acorn-npm-8.16.0-b2096bf83f-690c673bb4.zip
  .yarn/cache/baseline-browser-mapping-npm-2.10.31-11b5c14e52-36de39b6df.zip
  .yarn/cache/browserslist-npm-4.28.2-8923c4854e-cff88386e5.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001793-d05254d2b9-5a1ac39f2f.zip
  .yarn/cache/electron-to-chromium-npm-1.5.359-79d7281f93-707f5027dd.zip
  .yarn/cache/enhanced-resolve-npm-5.21.4-06e38f4970-61d4eab0b3.zip
  .yarn/cache/es-module-lexer-npm-2.1.0-9e20a9c1cd-554c4374e7.zip
  .yarn/cache/loader-runner-npm-4.3.2-e730ab9cab-fc0cf0026c.zip
  .yarn/cache/node-releases-npm-2.0.44-405bda900e-c6bc49ac7f.zip
  .yarn/cache/schema-utils-npm-4.3.3-4954c4a72e-dba77a46ad.zip
  .yarn/cache/tapable-npm-2.3.3-b058b6534f-21fb64a7ae.zip
  .yarn/cache/terser-npm-5.47.1-23fe43e533-16c0daea6a.zip
  .yarn/cache/terser-webpack-plugin-npm-5.6.0-62c351c2f4-15cae5c297.zip
  .yarn/cache/update-browserslist-db-npm-1.2.3-de1d320326-059f774300.zip
  .yarn/cache/watchpack-npm-2.5.1-5b5d779337-9c9cdd4a9f.zip
  .yarn/cache/webpack-npm-5.104.1-e9b2ae6a2f-c22b58fdf4.zip
  .yarn/cache/webpack-sources-npm-3.4.1-eb08a972d1-bb6f3fe34b.zip
  apps/admin/package.json
  apps/web/package.json
  yarn.lock
Due: none

chore: yarn install
  yarn.lock
Due: none

fix: Storybook webpack .tap 에러 해결 - Next 번들 webpack 버전(5.98.0)에 맞춤
  .yarn/cache/@webassemblyjs-ast-npm-1.12.1-3ff9ea1c0e-a775b05594.zip
  .yarn/cache/@webassemblyjs-floating-point-hex-parser-npm-1.11.6-3a9928fc76-29b0875884.zip
  .yarn/cache/@webassemblyjs-helper-api-error-npm-1.11.6-75f6275ff4-e8563df851.zip
  .yarn/cache/@webassemblyjs-helper-buffer-npm-1.12.1-d025434a45-1d8705daa4.zip
  .yarn/cache/@webassemblyjs-helper-numbers-npm-1.11.6-819ddab1da-9ffd258ad8.zip
  .yarn/cache/@webassemblyjs-helper-wasm-bytecode-npm-1.11.6-3bc23747de-4ebf03e9c1.zip
  .yarn/cache/@webassemblyjs-helper-wasm-section-npm-1.12.1-cd0e2f1eab-e91e6b2811.zip
  .yarn/cache/@webassemblyjs-ieee754-npm-1.11.6-95c92f446a-13574b8e41.zip
  .yarn/cache/@webassemblyjs-leb128-npm-1.11.6-697d62da2e-ec3b72db0e.zip
  .yarn/cache/@webassemblyjs-utf8-npm-1.11.6-102c4e5d68-361a537bd6.zip
  .yarn/cache/@webassemblyjs-wasm-edit-npm-1.12.1-727bec592a-5678ae02db.zip
  .yarn/cache/@webassemblyjs-wasm-gen-npm-1.12.1-bbe22ad265-ec45bd50e8.zip
  .yarn/cache/@webassemblyjs-wasm-opt-npm-1.12.1-450c932de6-21f25ae109.zip
  .yarn/cache/@webassemblyjs-wasm-parser-npm-1.12.1-54a7a19806-f7311685b7.zip
  .yarn/cache/@webassemblyjs-wast-printer-npm-1.12.1-e75655c7ff-1a6a4b6bc4.zip
  .yarn/cache/acorn-import-attributes-npm-1.9.5-d1e666eb35-8bfbfbb6e2.zip
  .yarn/cache/acorn-import-phases-npm-1.0.4-c85e685904-471050ac7d.zip
  .yarn/cache/baseline-browser-mapping-npm-2.10.31-11b5c14e52-36de39b6df.zip
  .yarn/cache/browserslist-npm-4.28.2-8923c4854e-cff88386e5.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001793-d05254d2b9-5a1ac39f2f.zip
  .yarn/cache/electron-to-chromium-npm-1.5.359-79d7281f93-707f5027dd.zip
  .yarn/cache/es-module-lexer-npm-1.7.0-456b47a08a-b6f3e576a3.zip
  .yarn/cache/es-module-lexer-npm-2.1.0-9e20a9c1cd-554c4374e7.zip
  .yarn/cache/loader-runner-npm-4.3.0-9ca67df372-555ae00286.zip
  .yarn/cache/node-releases-npm-2.0.44-405bda900e-c6bc49ac7f.zip
  .yarn/cache/update-browserslist-db-npm-1.2.3-de1d320326-059f774300.zip
  .yarn/cache/watchpack-npm-2.4.1-23f13203b4-0736ebd20b.zip
  .yarn/cache/webpack-npm-5.104.1-e9b2ae6a2f-c22b58fdf4.zip
  .yarn/cache/webpack-npm-5.95.0-19656f7d80-0377ad3a55.zip
  .yarn/cache/webpack-npm-5.98.0-4e921faeb6-eb16a58b3e.zip
  .yarn/cache/webpack-sources-npm-3.2.3-6bfb5d9563-a661f41795.zip
  apps/web/package.json
  package.json
  yarn.lock
Due: none

chore(deps): bump next-auth to 5.0.0-beta.30 (#366)
  .yarn/cache/@auth-core-npm-0.37.2-e7256d003f-55261a23c1.zip
  .yarn/cache/@auth-core-npm-0.41.0-971e4b0f22-5810ce4b00.zip
  .yarn/cache/@types-cookie-npm-0.6.0-1f4c3f48f0-b883348d5b.zip
  .yarn/cache/cookie-npm-0.7.1-f01524ff99-aec6a6aa07.zip
  .yarn/cache/jose-npm-5.9.6-8196c83d4f-3ebbda9f6a.zip
  .yarn/cache/jose-npm-6.2.3-e99322e00c-876974613c.zip
  .yarn/cache/next-auth-npm-5.0.0-beta.25-7cc90ea639-9369b77e28.zip
  .yarn/cache/next-auth-npm-5.0.0-beta.30-93a79aca3b-0b6c5bfa26.zip
  .yarn/cache/oauth4webapi-npm-3.1.4-f7c1f0744d-0cb0b11529.zip
  .yarn/cache/oauth4webapi-npm-3.8.6-d99b72248c-980568a712.zip
  .yarn/cache/preact-npm-10.11.3-4973d2dda6-5ecfa9aee9.zip
  .yarn/cache/preact-npm-10.24.3-1e33d81667-e9c4c901a4.zip
  .yarn/cache/preact-render-to-string-npm-5.2.3-1f72a2f38e-7441fecbda.zip
  .yarn/cache/preact-render-to-string-npm-6.5.11-431b4c85e0-a77f7715f3.zip
  .yarn/cache/pretty-format-npm-3.8.0-293db331d9-c80009217d.zip
  apps/admin/package.json
  yarn.lock
Due: none

chore(deps): add resolutions for transitive vulns
  .yarn/cache/es-module-lexer-npm-1.7.0-456b47a08a-b6f3e576a3.zip
  package.json
  yarn.lock
Due: none

chore: add typed routes reference to next-env.d.ts
  apps/web/next-env.d.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore(eslint): ignore auto-generated next-env.d.ts
  apps/web/.eslintrc.js
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix(ci): add yarn install step to Chromatic job
  .github/workflows/ci.yml
Due: none

fix(deps): stub canvas to fix jest+jsdom test failures
  .yarn/cache/@mapbox-node-pre-gyp-npm-1.0.11-5547f15a2b-59529a2444.zip
  .yarn/cache/abbrev-npm-1.1.1-3659247eab-2d88294118.zip
  .yarn/cache/aproba-npm-2.0.0-8716bcfde6-c2b9a63129.zip
  .yarn/cache/are-we-there-yet-npm-2.0.0-7d2f5201ce-ea6f47d14f.zip
  .yarn/cache/canvas-npm-2.11.2-824d893a31-500040e933.zip
  .yarn/cache/color-support-npm-1.1.3-3be5c53455-4bcfe30eea.zip
  .yarn/cache/console-control-strings-npm-1.1.0-e3160e5275-27b5fa302b.zip
  .yarn/cache/decompress-response-npm-4.2.1-abe5b4ebe4-4e783ca4df.zip
  .yarn/cache/delegates-npm-1.0.0-9b1942d75f-a51744d9b5.zip
  .yarn/cache/gauge-npm-3.0.2-9e22f7af9e-46df086451.zip
  .yarn/cache/has-unicode-npm-2.0.1-893adb4747-041b4293ad.zip
  .yarn/cache/mimic-response-npm-2.1.0-037463e454-014fad6ab9.zip
  .yarn/cache/nan-npm-2.20.0-5b5be83e88-5f16e4c995.zip
  .yarn/cache/nopt-npm-5.0.0-304b40fbfe-00f9bb2d16.zip
  .yarn/cache/npmlog-npm-5.0.1-366cab64a2-f42c7b9584.zip
  .yarn/cache/set-blocking-npm-2.0.0-49e2cffa24-8980ebf7ae.zip
  .yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  .yarn/cache/simple-get-npm-3.1.1-dce5923dba-94fa04e740.zip
  .yarn/cache/wide-align-npm-1.1.5-889d77e592-d5f8027b9a.zip
  __stubs__/canvas/index.js
  __stubs__/canvas/package.json
  package.json
  yarn.lock
Due: yarn test:coverage --findRelatedTests

fix(ui): pass highlight prop and assert on title element in CounterCard test
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests

chore(deps): add resolutions for transitive vulns (#361)
  .github/workflows/ci.yml
  .yarn/cache/@mapbox-node-pre-gyp-npm-1.0.11-5547f15a2b-59529a2444.zip
  .yarn/cache/abbrev-npm-1.1.1-3659247eab-2d88294118.zip
  .yarn/cache/aproba-npm-2.0.0-8716bcfde6-c2b9a63129.zip
  .yarn/cache/are-we-there-yet-npm-2.0.0-7d2f5201ce-ea6f47d14f.zip
  .yarn/cache/canvas-npm-2.11.2-824d893a31-500040e933.zip
  .yarn/cache/color-support-npm-1.1.3-3be5c53455-4bcfe30eea.zip
  .yarn/cache/console-control-strings-npm-1.1.0-e3160e5275-27b5fa302b.zip
  .yarn/cache/decompress-response-npm-4.2.1-abe5b4ebe4-4e783ca4df.zip
  .yarn/cache/delegates-npm-1.0.0-9b1942d75f-a51744d9b5.zip
  .yarn/cache/es-module-lexer-npm-1.7.0-456b47a08a-b6f3e576a3.zip
  .yarn/cache/gauge-npm-3.0.2-9e22f7af9e-46df086451.zip
  .yarn/cache/has-unicode-npm-2.0.1-893adb4747-041b4293ad.zip
  .yarn/cache/mimic-response-npm-2.1.0-037463e454-014fad6ab9.zip
  .yarn/cache/nan-npm-2.20.0-5b5be83e88-5f16e4c995.zip
  .yarn/cache/nopt-npm-5.0.0-304b40fbfe-00f9bb2d16.zip
  .yarn/cache/npmlog-npm-5.0.1-366cab64a2-f42c7b9584.zip
  .yarn/cache/set-blocking-npm-2.0.0-49e2cffa24-8980ebf7ae.zip
  .yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  .yarn/cache/simple-get-npm-3.1.1-dce5923dba-94fa04e740.zip
  .yarn/cache/wide-align-npm-1.1.5-889d77e592-d5f8027b9a.zip
  __stubs__/canvas/index.js
  __stubs__/canvas/package.json
  apps/web/.eslintrc.js
  apps/web/next-env.d.ts
  package.json
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

Path conditions:
  yarn workspace @dnd-academy/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace @dnd-academy/core lint --cache: any of: packages/core/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
  yarn workspace admin lint --cache: any of: apps/admin/**/*.{js,jsx,ts,tsx}
  yarn test:coverage --findRelatedTests: any of: *.{js,jsx,ts,tsx}
