Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/ui lint --cache"
  ],
  "apps/admin/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace admin lint --cache"
  ],
  "*.{js,jsx,ts,tsx}": [
    "yarn test:coverage --findRelatedTests --passWithNoTests"
  ],
  "*.scss": [
    "yarn stylelint"
  ]
}

feat: admin 프로젝트에 접근가능한 이메일만 로그인 가능하도록 auth 로직 구현
  .yarn/cache/@auth-core-npm-0.32.0-0819ebf78e-5632020c76.zip
  .yarn/cache/@panva-hkdf-npm-1.2.1-0e4816a25a-a4a9d1812f.zip
  .yarn/cache/@types-cookie-npm-0.6.0-1f4c3f48f0-b883348d5b.zip
  .yarn/cache/jose-npm-5.6.3-5f0ff4eb49-829f07b885.zip
  .yarn/cache/next-auth-npm-5.0.0-beta.19-a1cfdfdbff-7b06905774.zip
  .yarn/cache/oauth4webapi-npm-2.11.1-6491784d07-94a3f9dfff.zip
  .yarn/cache/preact-npm-10.11.3-4973d2dda6-5ecfa9aee9.zip
  .yarn/cache/preact-render-to-string-npm-5.2.3-1f72a2f38e-7441fecbda.zip
  .yarn/cache/pretty-format-npm-3.8.0-293db331d9-c80009217d.zip
  apps/admin/.eslintrc.js
  apps/admin/@types/environment.d.ts
  apps/admin/package.json
  apps/admin/src/app/api/auth/[...nextauth]/route.ts
  apps/admin/src/app/login/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/auth.ts
  apps/admin/src/components/auth/SignIn/index.tsx
  apps/admin/src/components/auth/SignOut/index.tsx
  apps/admin/src/middleware.ts
  apps/admin/src/utils/index.ts
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

feat: admin 프로젝트에 접근가능한 이메일만 로그인 가능하도록 auth 로직 구현 (#146)
  .yarn/cache/@auth-core-npm-0.32.0-0819ebf78e-5632020c76.zip
  .yarn/cache/@panva-hkdf-npm-1.2.1-0e4816a25a-a4a9d1812f.zip
  .yarn/cache/@types-cookie-npm-0.6.0-1f4c3f48f0-b883348d5b.zip
  .yarn/cache/jose-npm-5.6.3-5f0ff4eb49-829f07b885.zip
  .yarn/cache/next-auth-npm-5.0.0-beta.19-a1cfdfdbff-7b06905774.zip
  .yarn/cache/oauth4webapi-npm-2.11.1-6491784d07-94a3f9dfff.zip
  .yarn/cache/preact-npm-10.11.3-4973d2dda6-5ecfa9aee9.zip
  .yarn/cache/preact-render-to-string-npm-5.2.3-1f72a2f38e-7441fecbda.zip
  .yarn/cache/pretty-format-npm-3.8.0-293db331d9-c80009217d.zip
  apps/admin/.eslintrc.js
  apps/admin/@types/environment.d.ts
  apps/admin/package.json
  apps/admin/src/app/api/auth/[...nextauth]/route.ts
  apps/admin/src/app/login/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/auth.ts
  apps/admin/src/components/auth/SignIn/index.tsx
  apps/admin/src/components/auth/SignOut/index.tsx
  apps/admin/src/middleware.ts
  apps/admin/src/utils/index.ts
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

refactor: move Button component to @dnd-academy/ui package
  apps/admin/src/components/auth/SignIn/index.tsx
  apps/admin/src/components/auth/SignOut/index.tsx
  apps/web/src/components/global/Footer/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/PDFViewer/index.tsx
  apps/web/src/components/molecules/SponsorSection/index.tsx
  apps/web/src/components/organisms/ApplyModal/index.tsx
  apps/web/src/components/organisms/ApplyNotifyButtonGroup/index.tsx
  apps/web/src/components/pages/CulturePage/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/OrganizersPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/components/templates/ShareAlarmSection/index.tsx
  packages/ui/src/client.ts
  packages/ui/src/components/client.ts
  packages/ui/src/components/index.ts
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

refactor: move Button component to @dnd-academy/ui package (#147)
  apps/admin/src/components/auth/SignIn/index.tsx
  apps/admin/src/components/auth/SignOut/index.tsx
  apps/web/src/components/global/Footer/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/PDFViewer/index.tsx
  apps/web/src/components/molecules/SponsorSection/index.tsx
  apps/web/src/components/organisms/ApplyModal/index.tsx
  apps/web/src/components/organisms/ApplyNotifyButtonGroup/index.tsx
  apps/web/src/components/pages/CulturePage/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/OrganizersPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/components/templates/ShareAlarmSection/index.tsx
  packages/ui/src/client.ts
  packages/ui/src/components/client.ts
  packages/ui/src/components/index.ts
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

refactor: counter card 컴포넌트 ui 패키지로 이동
  apps/admin/src/app/page.tsx
  apps/web/src/components/molecules/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/total_count_status.json
  packages/ui/package.json
  packages/ui/src/components/CounterCard/CounterCard.stories.tsx
  packages/ui/src/components/CounterCard/index.module.scss
  packages/ui/src/components/CounterCard/index.test.tsx
  packages/ui/src/components/CounterCard/index.tsx
  packages/ui/src/components/index.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: counter card 컴포넌트 ui 패키지로 이동 (#148)
  apps/admin/src/app/page.tsx
  apps/web/src/components/molecules/CounterCardSection/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/total_count_status.json
  packages/ui/package.json
  packages/ui/src/components/CounterCard/CounterCard.stories.tsx
  packages/ui/src/components/CounterCard/index.module.scss
  packages/ui/src/components/CounterCard/index.test.tsx
  packages/ui/src/components/CounterCard/index.tsx
  packages/ui/src/components/index.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

chore: admin에 @vercel/blob install 및 api 호출 테스트
  .yarn/cache/@fastify-busboy-npm-2.1.1-455d8b6bf5-2bb8a7eca8.zip
  .yarn/cache/@vercel-blob-npm-0.23.4-a2c54d7c35-48340c59c5.zip
  .yarn/cache/async-retry-npm-1.3.3-bc90c5cee0-38a7152ff7.zip
  .yarn/cache/is-buffer-npm-2.0.5-17e563f277-3261a8b858.zip
  .yarn/cache/retry-npm-0.13.1-89eb100ab6-6125ec2e06.zip
  .yarn/cache/undici-npm-5.28.4-63fa65e206-a666a9f5ac.zip
  apps/admin/package.json
  apps/admin/src/app/page.tsx
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

chore: admin에 @vercel/blob install 및 api 호출 테스트 (#149)
  .yarn/cache/@fastify-busboy-npm-2.1.1-455d8b6bf5-2bb8a7eca8.zip
  .yarn/cache/@vercel-blob-npm-0.23.4-a2c54d7c35-48340c59c5.zip
  .yarn/cache/async-retry-npm-1.3.3-bc90c5cee0-38a7152ff7.zip
  .yarn/cache/is-buffer-npm-2.0.5-17e563f277-3261a8b858.zip
  .yarn/cache/retry-npm-0.13.1-89eb100ab6-6125ec2e06.zip
  .yarn/cache/undici-npm-5.28.4-63fa65e206-a666a9f5ac.zip
  apps/admin/package.json
  apps/admin/src/app/page.tsx
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

chore(deps): remove tsup unused dependency
  .yarn/cache/any-promise-npm-1.3.0-f34eeaa7e7-6737469ba3.zip
  .yarn/cache/bundle-require-npm-4.2.1-ce670ecea1-e49cb65283.zip
  .yarn/cache/cac-npm-6.7.14-c46284e425-002769a0fb.zip
  .yarn/cache/commander-npm-4.1.1-22a0fe921b-3b2dc4125f.zip
  .yarn/cache/joycon-npm-3.1.1-3033e0e5f4-4b36e34791.zip
  .yarn/cache/lilconfig-npm-3.1.2-e5b7292949-8058403850.zip
  .yarn/cache/load-tsconfig-npm-0.2.5-70feef5c98-b3176f6f0c.zip
  .yarn/cache/lodash.sortby-npm-4.7.0-fda8ab950d-38df19ae28.zip
  .yarn/cache/mz-npm-2.7.0-ec3cef4ec2-8427de0ece.zip
  .yarn/cache/postcss-load-config-npm-4.0.2-319bcff9ca-e2c2ed9b79.zip
  .yarn/cache/source-map-npm-0.8.0-beta.0-688a309e94-c02e22ab9f.zip
  .yarn/cache/sucrase-npm-3.35.0-60ad876a0c-bc601558a6.zip
  .yarn/cache/thenify-all-npm-1.6.0-96309bbc8b-dba7cc8a23.zip
  .yarn/cache/thenify-npm-3.3.1-030bedb22c-486e1283a8.zip
  .yarn/cache/tr46-npm-1.0.1-9547f343a4-6e80d75480.zip
  .yarn/cache/tree-kill-npm-1.2.2-3da0e5a759-49117f5f41.zip
  .yarn/cache/ts-interface-checker-npm-0.1.13-0c7b064494-9f7346b9e2.zip
  .yarn/cache/tsup-npm-8.1.0-e8aa84f4b8-5a575e8d45.zip
  .yarn/cache/webidl-conversions-npm-4.0.2-1d159e6409-594187c36f.zip
  .yarn/cache/whatwg-url-npm-7.1.0-d6cae01571-769fd35838.zip
  .yarn/cache/yaml-npm-2.4.5-4752f3d852-b09bf5a615.zip
  package.json
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): remove tsup unused dependency (#150)
  .yarn/cache/any-promise-npm-1.3.0-f34eeaa7e7-6737469ba3.zip
  .yarn/cache/bundle-require-npm-4.2.1-ce670ecea1-e49cb65283.zip
  .yarn/cache/cac-npm-6.7.14-c46284e425-002769a0fb.zip
  .yarn/cache/commander-npm-4.1.1-22a0fe921b-3b2dc4125f.zip
  .yarn/cache/joycon-npm-3.1.1-3033e0e5f4-4b36e34791.zip
  .yarn/cache/lilconfig-npm-3.1.2-e5b7292949-8058403850.zip
  .yarn/cache/load-tsconfig-npm-0.2.5-70feef5c98-b3176f6f0c.zip
  .yarn/cache/lodash.sortby-npm-4.7.0-fda8ab950d-38df19ae28.zip
  .yarn/cache/mz-npm-2.7.0-ec3cef4ec2-8427de0ece.zip
  .yarn/cache/postcss-load-config-npm-4.0.2-319bcff9ca-e2c2ed9b79.zip
  .yarn/cache/source-map-npm-0.8.0-beta.0-688a309e94-c02e22ab9f.zip
  .yarn/cache/sucrase-npm-3.35.0-60ad876a0c-bc601558a6.zip
  .yarn/cache/thenify-all-npm-1.6.0-96309bbc8b-dba7cc8a23.zip
  .yarn/cache/thenify-npm-3.3.1-030bedb22c-486e1283a8.zip
  .yarn/cache/tr46-npm-1.0.1-9547f343a4-6e80d75480.zip
  .yarn/cache/tree-kill-npm-1.2.2-3da0e5a759-49117f5f41.zip
  .yarn/cache/ts-interface-checker-npm-0.1.13-0c7b064494-9f7346b9e2.zip
  .yarn/cache/tsup-npm-8.1.0-e8aa84f4b8-5a575e8d45.zip
  .yarn/cache/webidl-conversions-npm-4.0.2-1d159e6409-594187c36f.zip
  .yarn/cache/whatwg-url-npm-7.1.0-d6cae01571-769fd35838.zip
  .yarn/cache/yaml-npm-2.4.5-4752f3d852-b09bf5a615.zip
  package.json
  packages/ui/package.json
  yarn.lock
Due: none

refactor: accordion item 컴포넌트 packages/ui로 이동
  .yarn/cache/vite-plugin-svgr-npm-4.2.0-e0c6a7a1f0-c860e65836.zip
  apps/web/src/components/molecules/FAQSection/index.tsx
  apps/web/src/lib/assets/icons/index.ts
  packages/ui/package.json
  packages/ui/src/components/AccordionItem/AccordionItem.stories.tsx
  packages/ui/src/components/AccordionItem/index.module.scss
  packages/ui/src/components/AccordionItem/index.test.tsx
  packages/ui/src/components/AccordionItem/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/lib/assets/icons/accordion-polygon.svg
  packages/ui/src/lib/assets/icons/index.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

chore: jest 설정파일 svg mock 추가
  jest.config.js
Due: yarn test:coverage --findRelatedTests --passWithNoTests

refactor: accordion item 컴포넌트 packages/ui로 이동 (#151)
  .yarn/cache/vite-plugin-svgr-npm-4.2.0-e0c6a7a1f0-c860e65836.zip
  apps/web/src/components/molecules/FAQSection/index.tsx
  apps/web/src/lib/assets/icons/index.ts
  jest.config.js
  packages/ui/package.json
  packages/ui/src/components/AccordionItem/AccordionItem.stories.tsx
  packages/ui/src/components/AccordionItem/index.module.scss
  packages/ui/src/components/AccordionItem/index.test.tsx
  packages/ui/src/components/AccordionItem/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/lib/assets/icons/accordion-polygon.svg
  packages/ui/src/lib/assets/icons/index.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

feat: packages에 @dnd-academy/core 초기 세팅 적용
  packages/core/.eslintrc.js
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/api/index.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/tsconfig.json
  packages/core/vite.config.mts
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn test:coverage --findRelatedTests --passWithNoTests

feat: packages에 @dnd-academy/core 초기 세팅 적용 (#152)
  packages/core/.eslintrc.js
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/api/index.ts
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/tsconfig.json
  packages/core/vite.config.mts
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn test:coverage --findRelatedTests --passWithNoTests

ci: fix lint error
  .github/workflows/ci.yml
  turbo.json
Due: none

chore: udatep package.json
  apps/admin/package.json
  apps/web/package.json
  packages/core/package.json
  packages/ui/package.json
  yarn.lock
Due: none

chore: turbo setting 최적화 및 ci 수정
  .github/workflows/ci.yml
  .lintstagedrc.json
  package.json
  packages/eslint-config/package.json
  turbo.json
Due: none

chore: turbo setting 최적화 및 ci 수정 (#154)
  .github/workflows/ci.yml
  .lintstagedrc.json
  package.json
  packages/eslint-config/package.json
  turbo.json
Due: none

perf: yarn pnp 모드 적용
  .github/workflows/ci.yml
  .lintstagedrc.json
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  apps/admin/package.json
  apps/web/__mocks__/svg.tsx
  jest.config.js
  package.json
  packages/ui/__mocks__/svg.tsx
  packages/ui/tsconfig.json
  turbo.json
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

fix: ci error
  .github/workflows/ci.yml
Due: none

chore: update deploy script
  package.json
Due: none

fix: build error
  .yarn/cache/@types-react-npm-18.3.3-07e68e178e-68e203b7f1.zip
  turbo.json
  yarn.lock
Due: none

chore: remove unused script
  package.json
Due: none

chore: unused ci pipeline
  .github/workflows/ci.yml
Due: none

refactor: web 프로젝트 구조 리팩터링
  apps/web/src/app/jobs/page.tsx
  apps/web/src/app/jobs/template.tsx
  apps/web/src/app/organizers/page.tsx
  apps/web/src/app/projects/page.tsx
  apps/web/src/app/reviews/page.tsx
  apps/web/src/app/reviews/template.tsx
  apps/web/src/components/molecules/DetailNavigation/index.module.scss
  apps/web/src/components/molecules/DetailNavigation/index.tsx
  apps/web/src/components/molecules/ImageCard/index.module.scss
  apps/web/src/components/molecules/ImageCard/index.tsx
  apps/web/src/components/organisms/CounterCardSection/index.module.scss
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/components/organisms/FAQSection/index.module.scss
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/components/organisms/FAQSection/index.tsx
  apps/web/src/components/organisms/GuidelineSection/index.module.scss
  apps/web/src/components/organisms/GuidelineSection/index.tsx
  apps/web/src/components/organisms/JobCard/index.module.scss
  apps/web/src/components/organisms/JobCard/index.tsx
  apps/web/src/components/organisms/OrganizerCards/index.module.scss
  apps/web/src/components/organisms/OrganizerCards/index.tsx
  apps/web/src/components/organisms/ProjectCards/index.module.scss
  apps/web/src/components/organisms/ProjectCards/index.tsx
  apps/web/src/components/organisms/ProjectsSlider/index.module.scss
  apps/web/src/components/organisms/ProjectsSlider/index.tsx
  apps/web/src/components/organisms/ShareAlarmSection/index.module.scss
  apps/web/src/components/organisms/ShareAlarmSection/index.tsx
  apps/web/src/components/organisms/SponsorSection/index.module.scss
  apps/web/src/components/organisms/SponsorSection/index.tsx
  apps/web/src/components/pages/AboutPage/index.module.scss
  apps/web/src/components/pages/AboutPage/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/components/pages/JobsPage/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/OrganizersPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/components/pages/ProjectsPage/index.tsx
  packages/ui/vite.config.mts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: web 프로젝트 구조 리팩터링 (#156)
  apps/web/src/app/jobs/page.tsx
  apps/web/src/app/jobs/template.tsx
  apps/web/src/app/organizers/page.tsx
  apps/web/src/app/projects/page.tsx
  apps/web/src/app/reviews/page.tsx
  apps/web/src/app/reviews/template.tsx
  apps/web/src/components/molecules/DetailNavigation/index.module.scss
  apps/web/src/components/molecules/DetailNavigation/index.tsx
  apps/web/src/components/molecules/ImageCard/index.module.scss
  apps/web/src/components/molecules/ImageCard/index.tsx
  apps/web/src/components/organisms/CounterCardSection/index.module.scss
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/components/organisms/FAQSection/index.module.scss
  apps/web/src/components/organisms/FAQSection/index.test.tsx
  apps/web/src/components/organisms/FAQSection/index.tsx
  apps/web/src/components/organisms/GuidelineSection/index.module.scss
  apps/web/src/components/organisms/GuidelineSection/index.tsx
  apps/web/src/components/organisms/JobCard/index.module.scss
  apps/web/src/components/organisms/JobCard/index.tsx
  apps/web/src/components/organisms/OrganizerCards/index.module.scss
  apps/web/src/components/organisms/OrganizerCards/index.tsx
  apps/web/src/components/organisms/ProjectCards/index.module.scss
  apps/web/src/components/organisms/ProjectCards/index.tsx
  apps/web/src/components/organisms/ProjectsSlider/index.module.scss
  apps/web/src/components/organisms/ProjectsSlider/index.tsx
  apps/web/src/components/organisms/ShareAlarmSection/index.module.scss
  apps/web/src/components/organisms/ShareAlarmSection/index.tsx
  apps/web/src/components/organisms/SponsorSection/index.module.scss
  apps/web/src/components/organisms/SponsorSection/index.tsx
  apps/web/src/components/pages/AboutPage/index.module.scss
  apps/web/src/components/pages/AboutPage/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/components/pages/JobsPage/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/OrganizersPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/components/pages/ProjectsPage/index.tsx
  packages/ui/vite.config.mts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: modal useContext 공통화 적용
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalOpenButton/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalProvider/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

refactor: modal useContext 공통화 적용 (#157)
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalOpenButton/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalProvider/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

refactor: package ui의 component 폴더 구조 변경
  packages/ui/src/components/atoms/AccordionItem/AccordionItem.stories.tsx
  packages/ui/src/components/atoms/AccordionItem/index.module.scss
  packages/ui/src/components/atoms/AccordionItem/index.test.tsx
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  packages/ui/src/components/atoms/Badge/Badge.stories.tsx
  packages/ui/src/components/atoms/Badge/index.module.scss
  packages/ui/src/components/atoms/Badge/index.test.tsx
  packages/ui/src/components/atoms/Badge/index.tsx
  packages/ui/src/components/atoms/SkillTag/SkillTag.stories.tsx
  packages/ui/src/components/atoms/SkillTag/index.module.scss
  packages/ui/src/components/atoms/SkillTag/index.test.tsx
  packages/ui/src/components/atoms/SkillTag/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/molecules/Button/Button.stories.tsx
  packages/ui/src/components/molecules/Button/index.module.scss
  packages/ui/src/components/molecules/Button/index.test.tsx
  packages/ui/src/components/molecules/Button/index.tsx
  packages/ui/src/components/molecules/CounterCard/CounterCard.stories.tsx
  packages/ui/src/components/molecules/CounterCard/index.module.scss
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  packages/ui/src/components/molecules/CounterCard/index.tsx
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: package ui의 component 폴더 구조 변경 (#158)
  packages/ui/src/components/atoms/AccordionItem/AccordionItem.stories.tsx
  packages/ui/src/components/atoms/AccordionItem/index.module.scss
  packages/ui/src/components/atoms/AccordionItem/index.test.tsx
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  packages/ui/src/components/atoms/Badge/Badge.stories.tsx
  packages/ui/src/components/atoms/Badge/index.module.scss
  packages/ui/src/components/atoms/Badge/index.test.tsx
  packages/ui/src/components/atoms/Badge/index.tsx
  packages/ui/src/components/atoms/SkillTag/SkillTag.stories.tsx
  packages/ui/src/components/atoms/SkillTag/index.module.scss
  packages/ui/src/components/atoms/SkillTag/index.test.tsx
  packages/ui/src/components/atoms/SkillTag/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/molecules/Button/Button.stories.tsx
  packages/ui/src/components/molecules/Button/index.module.scss
  packages/ui/src/components/molecules/Button/index.test.tsx
  packages/ui/src/components/molecules/Button/index.tsx
  packages/ui/src/components/molecules/CounterCard/CounterCard.stories.tsx
  packages/ui/src/components/molecules/CounterCard/index.module.scss
  packages/ui/src/components/molecules/CounterCard/index.test.tsx
  packages/ui/src/components/molecules/CounterCard/index.tsx
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

ci: add build core package pipeline
  .github/workflows/ci.yml
Due: none

fix: ci job_publish_storybook_chromatic error
  .github/workflows/ci.yml
Due: none

feat(admin): total count status 수정 액션 구현
  apps/admin/@types/environment.d.ts
  apps/admin/src/actions/count.ts
  apps/admin/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  packages/core/src/@types/count.ts
Due: yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests
