Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/ui lint --cache"
  ],
  "packages/core/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/core lint --cache"
  ],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ],
  "apps/admin/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace admin lint --cache"
  ],
  "*.{js,jsx,ts,tsx}": [
    "yarn test:coverage --findRelatedTests"
  ]
}

chore: .claude/worktrees를 gitignore에 추가
  .gitignore
Due: none

chore: editorconfig 추가
  .editorconfig
Due: none

chore: vscode 워크스페이스 설정을 prettier 중심으로 정리
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ci: prettier format check job 추가
  .github/workflows/ci.yml
Due: none

ci: Chromatic 관련 파일이 바뀐 경우에만 Chromatic publish 잡 실행
  .github/workflows/ci.yml
Due: none

ci: Chromatic 관련 파일이 바뀐 경우에만 Chromatic publish 잡 실행 (#391)
  .github/workflows/ci.yml
Due: none

chore(ci): dependabot 의존성 그룹을 2-버킷으로 통합
  .github/dependabot.yml
Due: none

chore(ci): dependabot 의존성 그룹을 2-버킷으로 통합 (#399)
  .github/dependabot.yml
Due: none

chore: 15기 지원 폼/응답시트 연결
  apps/web/scripts/generate-applicant-count.ts
  apps/web/src/lib/constants/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

docs(skill): 모집 오픈 후속 안내에 서비스 계정 시트 공유 절차 명시
  .claude/skills/cohort-open/SKILL.md
  .claude/skills/recruitment-open/SKILL.md
Due: none

chore: 15기 지원 폼/응답시트 연결 (#401)
  apps/web/scripts/generate-applicant-count.ts
  apps/web/src/lib/constants/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

docs(skill): 모집 오픈 후속 안내에 서비스 계정 시트 공유 절차 명시 (#402)
  .claude/skills/cohort-open/SKILL.md
  .claude/skills/recruitment-open/SKILL.md
Due: none

chore: 운영진 정보 업데이트
  apps/web/src/lib/assets/data/organizers.json
Due: none

chore: 운영진 정보 업데이트 (#403)
  apps/web/src/lib/assets/data/organizers.json
Due: none

chore(ci): dependabot에서 next/@next/* 및 Storybook 계열 자동 업데이트 차단
  .github/dependabot.yml
Due: none

chore(ci): dependabot에서 next/@next/* 및 Storybook 계열 자동 업데이트 차단 (#413)
  .github/dependabot.yml
Due: none

docs: Project 가이드 문서 수정
  apps/web/src/components/organisms/GuidelineSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

docs: Project 가이드 문서 수정 (#416)
  apps/web/src/components/organisms/GuidelineSection/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 모집 종료 후 알림 버튼을 다음 기수(16기)로 표시
  apps/web/src/lib/assets/data/event_status.json
Due: none

fix: 모집 종료 후 알림 버튼을 다음 기수(16기)로 표시 (#419)
  apps/web/src/lib/assets/data/event_status.json
Due: none

fix: 합격자 발표일정 수정
  apps/web/src/lib/assets/data/event_status.json
Due: none

fix: 모집 발표 이모지 수정
  apps/web/src/components/organisms/EventStatus/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 합격자 발표일정 및 모집 발표 이모지 수정 (#421)
  apps/web/src/components/organisms/EventStatus/index.tsx
  apps/web/src/lib/assets/data/event_status.json
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 15기 종료에 따라 이벤트 상태를 INACTIVE 로 변경
  apps/web/src/lib/assets/data/event_status.json
Due: none

chore: 15기 종료에 따라 이벤트 상태를 INACTIVE 로 변경 (#441)
  apps/web/src/lib/assets/data/event_status.json
Due: none

chore: 15기 후기 및 프로젝트 업데이트
  apps/web/src/lib/assets/data/projects.json
  apps/web/src/lib/assets/data/reviews.json
  apps/web/src/lib/assets/data/total_count_status.json
Due: none

docs(skill): 프로젝트 배너/PDF 업로드 전 메타데이터 검사 단계 추가
  .claude/skills/cohort-update/SKILL.md
  .claude/skills/projects-update/SKILL.md
Due: none

chore: 15기 후기 및 프로젝트 업데이트 (#447)
  .claude/skills/cohort-update/SKILL.md
  .claude/skills/projects-update/SKILL.md
  apps/web/src/lib/assets/data/projects.json
  apps/web/src/lib/assets/data/reviews.json
  apps/web/src/lib/assets/data/total_count_status.json
Due: none

fix(ci): CI yarn 버전을 레포(yarnPath)와 같은 4.6.0 으로 맞춤
  .github/workflows/ci.yml
Due: none

chore: oxlint 도입 (eslint 와 병행)
  .oxlintrc.json
  .vscode/extensions.json
  docs/getting-started.md
  lefthook.yml
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui/index.d.ts
  pnpm-lock.yaml
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests

chore(deps-dev): eslint 및 typescript-eslint 최신화
  apps/admin/package.json
  apps/web/package.json
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore: stylelint 제거
  .github/workflows/ci.yml
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  apps/admin/package.json
  apps/web/package.json
  docs/getting-started.md
  lefthook.yml
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: yarn test:coverage --findRelatedTests

chore: stylelint 제거 (#450)
  .github/workflows/ci.yml
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  apps/admin/package.json
  apps/web/package.json
  docs/getting-started.md
  lefthook.yml
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: yarn test:coverage --findRelatedTests
