Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @dnd-academy/ui lint --cache"
  ],
  "*.{js,jsx,ts,tsx}": [
    "yarn test:coverage --findRelatedTests --passWithNoTests"
  ],
  "*.scss": [
    "yarn stylelint"
  ]
}

feat: 모노레포 sass setting
  apps/web/package.json
  package.json
  packages/ui/@types/sass.d.ts
  packages/ui/package.json
  packages/ui/src/components/PageTitle/index.module.scss
  packages/ui/src/components/PageTitle/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/styles/main.scss
  packages/ui/src/styles/mixin/functions.scss
  packages/ui/src/styles/mixin/responsive.scss
  packages/ui/src/styles/mixin/text.scss
  packages/ui/src/styles/variables.scss
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

feat: 모노레포 sass setting (#133)
  apps/web/package.json
  package.json
  packages/ui/@types/sass.d.ts
  packages/ui/package.json
  packages/ui/src/components/PageTitle/index.module.scss
  packages/ui/src/components/PageTitle/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/styles/main.scss
  packages/ui/src/styles/mixin/functions.scss
  packages/ui/src/styles/mixin/responsive.scss
  packages/ui/src/styles/mixin/text.scss
  packages/ui/src/styles/variables.scss
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

chore: husky setting 수정
  .husky/pre-commit
Due: none

fix: package/ui auto import안되는 이슈 수정 및 style 적용 안되는 이슈 수정
  .vscode/settings.json
  apps/web/.eslintrc.js
  apps/web/next.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/components/pages/OrganizersPage/index.module.scss
  apps/web/src/styles/global.scss
  apps/web/tsconfig.json
  packages/ui/.eslintrc.js
  packages/ui/client.d.ts
  packages/ui/client.js
  packages/ui/index.d.ts
  packages/ui/package.json
  packages/ui/server.d.ts
  packages/ui/server.js
  packages/ui/src/hooks/useIsMounted.ts
  packages/ui/src/index.ts
  packages/ui/src/styles/index.scss
  packages/ui/src/styles/scrollbar.scss
  packages/ui/tsconfig.jest.json
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

chore: 불필요한 scss 코드 삭제
  apps/web/src/styles/global.scss
  apps/web/src/styles/scrollbar.scss
  apps/web/src/styles/variables.scss
Due: yarn stylelint

fix: package/ui auto import안되는 이슈 수정 및 style 적용 안되는 이슈 수정 (#135)
  .vscode/settings.json
  apps/web/.eslintrc.js
  apps/web/next.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/components/pages/OrganizersPage/index.module.scss
  apps/web/src/styles/global.scss
  apps/web/src/styles/variables.scss
  apps/web/tsconfig.json
  packages/ui/.eslintrc.js
  packages/ui/client.d.ts
  packages/ui/client.js
  packages/ui/index.d.ts
  packages/ui/package.json
  packages/ui/server.d.ts
  packages/ui/server.js
  packages/ui/src/hooks/useIsMounted.ts
  packages/ui/src/index.ts
  packages/ui/src/styles/index.scss
  packages/ui/src/styles/scrollbar.scss
  packages/ui/tsconfig.jest.json
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

fix: build error
  apps/web/src/app/dnd/layout.module.scss
Due: yarn stylelint

chore: update import path for @dnd-academy/ui styles
  apps/web/src/components/templates/GuidelineSection/index.module.scss
Due: yarn stylelint

fix: ci error
  .github/workflows/ci.yml
Due: none

chore: remove unused code
  apps/web/.storybook/preview.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests

chore: package/ui storybook setting
  .gitignore
  apps/web/.storybook/main.ts
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/turbo.json
  packages/ui/.eslintrc.js
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/index.module.scss
  packages/ui/src/components/Button/index.test.tsx
  packages/ui/src/components/Button/index.tsx
  packages/ui/src/stories/Typography.mdx
  packages/ui/tsconfig.json
  turbo.json
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

chore: remove node linker configuration and update Chromatic build script
  .github/workflows/ci.yml
Due: none

chore: turborepo에서 pnp 미지원 주석 추가
  .yarnrc.yml
Due: none

chore: package/ui storybook setting (#138)
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  apps/web/.storybook/main.ts
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/turbo.json
  packages/ui/.eslintrc.js
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/index.module.scss
  packages/ui/src/components/Button/index.test.tsx
  packages/ui/src/components/Button/index.tsx
  packages/ui/src/stories/Typography.mdx
  packages/ui/tsconfig.json
  turbo.json
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

ci: update CI workflow to cache install, build packages
  .github/workflows/ci.yml
Due: none

ci: update CI workflow to cache yarn dependencies
  .github/workflows/ci.yml
Due: none

fix: ci build error
  .github/workflows/ci.yml
Due: none

ci: update CI workflow to cache install, build packages (#139)
  .github/workflows/ci.yml
Due: none

ci: update CI workflow to cache build packages
  .github/workflows/ci.yml
Due: none

ci: update CI workflow to cache UI build packages
  .github/workflows/ci.yml
Due: none

ci: cache @dnd-academy/ui build packages in CI workflow
  .github/workflows/ci.yml
Due: none

ci: update CI workflow to cache build packages (#140)
  .github/workflows/ci.yml
Due: none

refactor: web 버튼 컴포넌트 ui 패키지로 이동 및 storybook 잘못되어있는 세팅 수정
  .yarn/cache/rollup-preserve-directives-npm-1.1.1-cd8ccf8c00-33e0381282.zip
  apps/web/.storybook/main.ts
  apps/web/src/components/atoms/Button/Button.stories.tsx
  apps/web/src/components/atoms/Button/index.module.scss
  apps/web/src/components/atoms/Button/index.test.tsx
  apps/web/src/components/atoms/Button/index.tsx
  apps/web/src/components/global/Footer/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/PDFViewer/index.tsx
  apps/web/src/components/molecules/SponsorSection/index.tsx
  apps/web/src/components/organisms/ApplyModal/index.tsx
  apps/web/src/components/organisms/ApplyNotifyButtonGroup/index.tsx
  apps/web/src/components/pages/CulturePage/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/OrganizersPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/components/templates/ShareAlarmSection/index.tsx
  packages/ui/package.json
  packages/ui/src/client.ts
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/index.module.scss
  packages/ui/src/components/client.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: web 버튼 컴포넌트 ui 패키지로 이동 및 storybook 잘못되어있는 세팅 수정 (#142)
  .yarn/cache/rollup-preserve-directives-npm-1.1.1-cd8ccf8c00-33e0381282.zip
  apps/web/.storybook/main.ts
  apps/web/src/components/atoms/Button/Button.stories.tsx
  apps/web/src/components/atoms/Button/index.module.scss
  apps/web/src/components/atoms/Button/index.test.tsx
  apps/web/src/components/atoms/Button/index.tsx
  apps/web/src/components/global/Footer/index.tsx
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.tsx
  apps/web/src/components/molecules/PDFViewer/index.tsx
  apps/web/src/components/molecules/SponsorSection/index.tsx
  apps/web/src/components/organisms/ApplyModal/index.tsx
  apps/web/src/components/organisms/ApplyNotifyButtonGroup/index.tsx
  apps/web/src/components/pages/CulturePage/index.tsx
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/OrganizersPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/components/templates/ShareAlarmSection/index.tsx
  packages/ui/package.json
  packages/ui/src/client.ts
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/index.module.scss
  packages/ui/src/components/client.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: module scss에 중복해서 들어간 mixin import문 삭제
  apps/web/next.config.js
  apps/web/src/app/dnd/layout.module.scss
  apps/web/src/components/atoms/AccordionItem/index.module.scss
  apps/web/src/components/atoms/Badge/index.module.scss
  apps/web/src/components/atoms/CounterCard/index.module.scss
  apps/web/src/components/atoms/DetailNavigation/index.module.scss
  apps/web/src/components/atoms/ImageCard/index.module.scss
  apps/web/src/components/atoms/PageTitle/index.module.scss
  apps/web/src/components/atoms/ResponsiveMasonry/index.module.scss
  apps/web/src/components/atoms/SectionTitle/index.module.scss
  apps/web/src/components/atoms/SkillTag/index.module.scss
  apps/web/src/components/atoms/Tag/index.module.scss
  apps/web/src/components/global/Footer/index.module.scss
  apps/web/src/components/global/Toast/index.module.scss
  apps/web/src/components/global/TopNavigationBar/index.module.scss
  apps/web/src/components/global/TopNavigationMenu/index.module.scss
  apps/web/src/components/molecules/CounterCardSection/index.module.scss
  apps/web/src/components/molecules/JobCard/index.module.scss
  apps/web/src/components/molecules/LinkConverter/index.module.scss
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.module.scss
  apps/web/src/components/molecules/OrganizerCards/index.module.scss
  apps/web/src/components/molecules/PDFViewer/index.module.scss
  apps/web/src/components/molecules/ProjectCards/index.module.scss
  apps/web/src/components/molecules/SocialIconLink/index.module.scss
  apps/web/src/components/molecules/SponsorSection/index.module.scss
  apps/web/src/components/molecules/Tags/index.module.scss
  apps/web/src/components/organisms/ApplyModal/index.module.scss
  apps/web/src/components/organisms/ReviewList/index.module.scss
  apps/web/src/components/pages/AboutPage/index.module.scss
  apps/web/src/components/pages/CulturePage/index.module.scss
  apps/web/src/components/pages/HomePage/index.module.scss
  apps/web/src/components/pages/OrganizerPage/index.module.scss
  apps/web/src/components/pages/OrganizersPage/index.module.scss
  apps/web/src/components/pages/ProjectPage/index.module.scss
  apps/web/src/components/templates/GuidelineSection/index.module.scss
  apps/web/src/components/templates/ShareAlarmSection/index.module.scss
  apps/web/src/styles/global.scss
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: module scss에 중복해서 들어간 mixin import문 삭제 (#143)
  apps/web/next.config.js
  apps/web/src/app/dnd/layout.module.scss
  apps/web/src/components/atoms/AccordionItem/index.module.scss
  apps/web/src/components/atoms/Badge/index.module.scss
  apps/web/src/components/atoms/CounterCard/index.module.scss
  apps/web/src/components/atoms/DetailNavigation/index.module.scss
  apps/web/src/components/atoms/ImageCard/index.module.scss
  apps/web/src/components/atoms/PageTitle/index.module.scss
  apps/web/src/components/atoms/ResponsiveMasonry/index.module.scss
  apps/web/src/components/atoms/SectionTitle/index.module.scss
  apps/web/src/components/atoms/SkillTag/index.module.scss
  apps/web/src/components/atoms/Tag/index.module.scss
  apps/web/src/components/global/Footer/index.module.scss
  apps/web/src/components/global/Toast/index.module.scss
  apps/web/src/components/global/TopNavigationBar/index.module.scss
  apps/web/src/components/global/TopNavigationMenu/index.module.scss
  apps/web/src/components/molecules/CounterCardSection/index.module.scss
  apps/web/src/components/molecules/JobCard/index.module.scss
  apps/web/src/components/molecules/LinkConverter/index.module.scss
  apps/web/src/components/molecules/Modal/components/ModalContentsBase/index.module.scss
  apps/web/src/components/molecules/OrganizerCards/index.module.scss
  apps/web/src/components/molecules/PDFViewer/index.module.scss
  apps/web/src/components/molecules/ProjectCards/index.module.scss
  apps/web/src/components/molecules/SocialIconLink/index.module.scss
  apps/web/src/components/molecules/SponsorSection/index.module.scss
  apps/web/src/components/molecules/Tags/index.module.scss
  apps/web/src/components/organisms/ApplyModal/index.module.scss
  apps/web/src/components/organisms/ReviewList/index.module.scss
  apps/web/src/components/pages/AboutPage/index.module.scss
  apps/web/src/components/pages/CulturePage/index.module.scss
  apps/web/src/components/pages/HomePage/index.module.scss
  apps/web/src/components/pages/OrganizerPage/index.module.scss
  apps/web/src/components/pages/OrganizersPage/index.module.scss
  apps/web/src/components/pages/ProjectPage/index.module.scss
  apps/web/src/components/templates/GuidelineSection/index.module.scss
  apps/web/src/components/templates/ShareAlarmSection/index.module.scss
  apps/web/src/styles/global.scss
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: badge, skillTag 컴포넌트 ui 패키지로 이동
  .yarn/cache/@types-identity-obj-proxy-npm-3.0.2-c967fa469f-77387ee587.zip
  .yarn/cache/harmony-reflect-npm-1.6.2-47a9f53361-69d30ebfb5.zip
  .yarn/cache/identity-obj-proxy-npm-3.0.0-080ab9ac1e-66fe4d2ffc.zip
  __mocks__/styleMock.js
  apps/web/package.json
  apps/web/src/components/atoms/Badge/index.test.tsx
  apps/web/src/components/molecules/EventStatus/index.tsx
  apps/web/src/components/molecules/OrganizerCards/index.tsx
  apps/web/src/components/molecules/ProjectCards/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  jest.config.js
  packages/ui/package.json
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/index.module.scss
  packages/ui/src/components/Badge/index.test.tsx
  packages/ui/src/components/Badge/index.tsx
  packages/ui/src/components/PageTitle/index.module.scss
  packages/ui/src/components/PageTitle/index.tsx
  packages/ui/src/components/SkillTag/SkillTag.stories.tsx
  packages/ui/src/components/SkillTag/index.module.scss
  packages/ui/src/components/SkillTag/index.test.tsx
  packages/ui/src/components/SkillTag/index.tsx
  packages/ui/src/components/index.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: badge, skillTag 컴포넌트 ui 패키지로 이동 (#144)
  .yarn/cache/@types-identity-obj-proxy-npm-3.0.2-c967fa469f-77387ee587.zip
  .yarn/cache/harmony-reflect-npm-1.6.2-47a9f53361-69d30ebfb5.zip
  .yarn/cache/identity-obj-proxy-npm-3.0.0-080ab9ac1e-66fe4d2ffc.zip
  __mocks__/styleMock.js
  apps/web/package.json
  apps/web/src/components/atoms/Badge/index.test.tsx
  apps/web/src/components/molecules/EventStatus/index.tsx
  apps/web/src/components/molecules/OrganizerCards/index.tsx
  apps/web/src/components/molecules/ProjectCards/index.tsx
  apps/web/src/components/pages/OrganizerPage/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  jest.config.js
  packages/ui/package.json
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/index.module.scss
  packages/ui/src/components/Badge/index.test.tsx
  packages/ui/src/components/Badge/index.tsx
  packages/ui/src/components/PageTitle/index.module.scss
  packages/ui/src/components/PageTitle/index.tsx
  packages/ui/src/components/SkillTag/SkillTag.stories.tsx
  packages/ui/src/components/SkillTag/index.module.scss
  packages/ui/src/components/SkillTag/index.test.tsx
  packages/ui/src/components/SkillTag/index.tsx
  packages/ui/src/components/index.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn workspace @dnd-academy/ui lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

feat: dnd admin 초기 세팅
  .github/workflows/ci.yml
  .lintstagedrc.json
  apps/admin/.eslintrc.js
  apps/admin/.gitignore
  apps/admin/@types/environment.d.ts
  apps/admin/@types/svg.d.ts
  apps/admin/jest.config.js
  apps/admin/next-env.d.ts
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/src/app/_fonts/Pretendard-Bold.subset.woff2
  apps/admin/src/app/_fonts/Pretendard-ExtraBold.subset.woff2
  apps/admin/src/app/_fonts/Pretendard-Medium.subset.woff2
  apps/admin/src/app/_fonts/Pretendard-Regular.subset.woff2
  apps/admin/src/app/_fonts/index.ts
  apps/admin/src/app/favicon.ico
  apps/admin/src/app/index.module.scss
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/styles/global.scss
  apps/admin/tsconfig.json
  apps/web/src/app/global-error.tsx
  package.json
  packages/ui/package.json
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint

refactor: remove Cypress configuration from .gitignore
  apps/admin/.gitignore
Due: none

feat: dnd admin 페이지 초기 환경 세팅 (#145)
  .github/workflows/ci.yml
  .lintstagedrc.json
  apps/admin/.eslintrc.js
  apps/admin/.gitignore
  apps/admin/@types/environment.d.ts
  apps/admin/@types/svg.d.ts
  apps/admin/jest.config.js
  apps/admin/next-env.d.ts
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/src/app/_fonts/Pretendard-Bold.subset.woff2
  apps/admin/src/app/_fonts/Pretendard-ExtraBold.subset.woff2
  apps/admin/src/app/_fonts/Pretendard-Medium.subset.woff2
  apps/admin/src/app/_fonts/Pretendard-Regular.subset.woff2
  apps/admin/src/app/_fonts/index.ts
  apps/admin/src/app/favicon.ico
  apps/admin/src/app/index.module.scss
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/styles/global.scss
  apps/admin/tsconfig.json
  apps/web/src/app/global-error.tsx
  package.json
  packages/ui/package.json
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests --passWithNoTests, yarn stylelint
