Repository DNDACADEMY/dnd-academy-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @dnd-academy/ui lint --cache, yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

perf: 타입스크립트 성능 개선 적용
  apps/web/src/components/atoms/ScrollElement/index.tsx
  apps/web/src/components/molecules/LinkConverter/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

perf: 타입스크립트 성능 개선 적용 (#203)
  apps/web/src/components/atoms/ScrollElement/index.tsx
  apps/web/src/components/molecules/LinkConverter/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: web build error
  apps/web/next.config.js
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/lib/assets/data/index.ts
  apps/web/src/lib/assets/data/total_count_status.json
  packages/core/src/api/index.ts
  packages/core/vite.config.mts.timestamp-1729338849924-4c5f142479cd3.mjs
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 불필요한 코드 파일 삭제
  packages/core/vite.config.mts.timestamp-1729338849924-4c5f142479cd3.mjs
Due: none

chore: remove codecov webpack option
  apps/web/next.config.js
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: web build 깨지는 이슈 수정 (#205)
  apps/web/next.config.js
  apps/web/src/app/page.tsx
  apps/web/src/components/organisms/CounterCardSection/index.tsx
  apps/web/src/lib/assets/data/index.ts
  apps/web/src/lib/assets/data/total_count_status.json
  packages/core/src/api/index.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 프로젝트 thumbnail 없는 케이스 적용
  apps/web/src/app/projects/[id]/page.tsx
  apps/web/src/components/organisms/ProjectCards/index.tsx
  apps/web/src/components/organisms/ProjectsSlider/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/lib/assets/data/organizers.json
  packages/core/src/@types/project.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: 프로젝트 thumbnail 없는 케이스 적용 (#206)
  apps/web/src/app/projects/[id]/page.tsx
  apps/web/src/components/organisms/ProjectCards/index.tsx
  apps/web/src/components/organisms/ProjectsSlider/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/lib/assets/data/organizers.json
  packages/core/src/@types/project.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: dnd 11기 프로젝트 thumbnail, pdf 추가
  apps/web/src/components/organisms/ProjectCards/index.tsx
  apps/web/src/components/organisms/ProjectsSlider/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/lib/assets/data/projects.json
  packages/core/src/@types/project.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: dnd 11기 프로젝트 thumbnail, pdf 추가 (#207)
  apps/web/src/components/organisms/ProjectCards/index.tsx
  apps/web/src/components/organisms/ProjectsSlider/index.tsx
  apps/web/src/components/pages/ProjectPage/index.tsx
  apps/web/src/lib/assets/data/projects.json
  packages/core/src/@types/project.ts
Due: yarn workspace @dnd-academy/core lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: same key props rendering 이슈 수정
  apps/web/src/lib/assets/data/projects.json
Due: none

fix: same key props rendering 이슈 수정 (#209)
  apps/web/src/lib/assets/data/projects.json
Due: none

feat(web): pdf 로딩시 progress bar 로딩중 상태 추가
  apps/web/src/components/molecules/PDFViewer/index.module.scss
  apps/web/src/components/molecules/PDFViewer/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat(web): pdf 로딩시 progress bar 로딩중 상태 추가 (#211)
  apps/web/src/components/molecules/PDFViewer/index.module.scss
  apps/web/src/components/molecules/PDFViewer/index.tsx
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: update yarn version
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: none

chore: migrating zustand to v5
  apps/web/package.json
  apps/web/src/stores/toast.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: 의존설 설치 파일 추가
  .yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-a676216aff.zip
  .yarn/cache/use-sync-external-store-npm-1.2.2-7923c915e1-671e9c190a.zip
  .yarn/cache/zustand-npm-4.5.2-4f034a2f1c-9e9e92ce73.zip
  .yarn/cache/zustand-npm-5.0.0-8e7f005cb5-be75ef4d1b.zip
  yarn.lock
Due: none

chore: migrating zustand to v5 (#215)
  .yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-a676216aff.zip
  .yarn/cache/use-sync-external-store-npm-1.2.2-7923c915e1-671e9c190a.zip
  .yarn/cache/zustand-npm-4.5.2-4f034a2f1c-9e9e92ce73.zip
  .yarn/cache/zustand-npm-5.0.0-8e7f005cb5-be75ef4d1b.zip
  apps/web/package.json
  apps/web/src/stores/toast.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: 사용하지 않는 코드 삭제
  apps/web/package.json
  apps/web/src/components/molecules/Tags/index.tsx
  apps/web/src/utils/index.test.ts
  apps/web/src/utils/index.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

refactor: 사용하지 않는 코드 삭제 (#216)
  apps/web/package.json
  apps/web/src/components/molecules/Tags/index.tsx
  apps/web/src/utils/index.test.ts
  apps/web/src/utils/index.ts
  yarn.lock
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 노션 api 스크립트 적용
  .yarn/cache/@notionhq-client-npm-2.2.15-7cc25af82c-18e8812f16.zip
  .yarn/cache/@types-node-fetch-npm-2.6.12-bc850f58da-8107c479da.zip
  apps/admin/.eslintrc.js
  apps/admin/package.json
  apps/admin/scripts/notion.ts
  apps/admin/tsconfig.json
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

feat: 노션 api 스크립트 적용 (#220)
  .yarn/cache/@notionhq-client-npm-2.2.15-7cc25af82c-18e8812f16.zip
  .yarn/cache/@types-node-fetch-npm-2.6.12-bc850f58da-8107c479da.zip
  apps/admin/.eslintrc.js
  apps/admin/package.json
  apps/admin/scripts/notion.ts
  apps/admin/tsconfig.json
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Revert "feat: 노션 api 스크립트 적용 (#220)"
  .yarn/cache/@notionhq-client-npm-2.2.15-7cc25af82c-18e8812f16.zip
  .yarn/cache/@types-node-fetch-npm-2.6.12-bc850f58da-8107c479da.zip
  apps/admin/.eslintrc.js
  apps/admin/package.json
  apps/admin/scripts/notion.ts
  apps/admin/tsconfig.json
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

Revert "feat: 노션 api 스크립트 적용 (임시)" (#221)
  .yarn/cache/@notionhq-client-npm-2.2.15-7cc25af82c-18e8812f16.zip
  .yarn/cache/@types-node-fetch-npm-2.6.12-bc850f58da-8107c479da.zip
  apps/admin/.eslintrc.js
  apps/admin/package.json
  apps/admin/scripts/notion.ts
  apps/admin/tsconfig.json
  yarn.lock
Due: yarn workspace admin lint --cache, yarn test:coverage --findRelatedTests

feat: 12기 서류 시작으로 인한 상태 변경 및 지원서 링크 수정
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/event_status.json
  apps/web/src/lib/constants/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 12기 서류 시작으로 인한 상태 변경 및 지원서 링크 수정 (#222)
  apps/web/src/components/pages/HomePage/index.tsx
  apps/web/src/lib/assets/data/event_status.json
  apps/web/src/lib/constants/index.ts
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

fix: ci build시 깨지는 이슈 수정
  .github/workflows/ci.yml
Due: none

fix: ci build시 깨지는 이슈 수정 (#224)
  .github/workflows/ci.yml
Due: none

chore: yarn workspace 적용
  apps/admin/package.json
  apps/web/package.json
  packages/core/package.json
  packages/ui/package.json
  yarn.lock
Due: none

chore: yarn workspace 적용 (#225)
  apps/admin/package.json
  apps/web/package.json
  packages/core/package.json
  packages/ui/package.json
  yarn.lock
Due: none

chore: framer-motion에서 motion으로 변경된 라이브러리 적용
  .yarn/cache/framer-motion-npm-11.11.17-76b5773744-85193dea8e.zip
  .yarn/cache/framer-motion-npm-11.2.10-3bbc864848-3f09356c08.zip
  .yarn/cache/motion-npm-11.11.17-79264e95d1-d7d1195a78.zip
  apps/admin/package.json
  apps/web/package.json
  apps/web/src/components/atoms/Tag/index.tsx
  apps/web/src/components/global/Toast/index.tsx
  apps/web/src/styles/framerVariants.ts
  packages/ui/package.json
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  packages/ui/src/components/molecules/Button/index.tsx
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

chore: framer-motion에서 motion으로 변경된 라이브러리 적용 (#226)
  .yarn/cache/framer-motion-npm-11.11.17-76b5773744-85193dea8e.zip
  .yarn/cache/framer-motion-npm-11.2.10-3bbc864848-3f09356c08.zip
  .yarn/cache/motion-npm-11.11.17-79264e95d1-d7d1195a78.zip
  apps/admin/package.json
  apps/web/package.json
  apps/web/src/components/atoms/Tag/index.tsx
  apps/web/src/components/global/Toast/index.tsx
  apps/web/src/styles/framerVariants.ts
  packages/ui/package.json
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  packages/ui/src/components/molecules/Button/index.tsx
  yarn.lock
Due: yarn workspace @dnd-academy/ui lint --cache, yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 스폰서 로고 s3에서 local image로 변경
  apps/web/public/assets/logos/sponsors/asan-nanum.png
  apps/web/public/assets/logos/sponsors/easys-publishing.png
  apps/web/public/assets/logos/sponsors/hanbit.png
  apps/web/public/assets/logos/sponsors/impact-campus.png
  apps/web/public/assets/logos/sponsors/maru180.png
  apps/web/public/assets/logos/sponsors/naver-d2.png
  apps/web/public/assets/logos/sponsors/wanted.png
  apps/web/public/assets/logos/sponsors/witi.png
  apps/web/src/components/organisms/SponsorSection/index.module.scss
  apps/web/src/components/organisms/SponsorSection/index.tsx
  apps/web/src/lib/assets/logos/elice.svg
  apps/web/src/lib/assets/logos/index.ts
  apps/web/src/lib/assets/logos/notefolio.svg
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

feat: 스폰서 로고 s3에서 local image로 변경 (#228)
  apps/web/public/assets/logos/sponsors/asan-nanum.png
  apps/web/public/assets/logos/sponsors/easys-publishing.png
  apps/web/public/assets/logos/sponsors/hanbit.png
  apps/web/public/assets/logos/sponsors/impact-campus.png
  apps/web/public/assets/logos/sponsors/maru180.png
  apps/web/public/assets/logos/sponsors/naver-d2.png
  apps/web/public/assets/logos/sponsors/wanted.png
  apps/web/public/assets/logos/sponsors/witi.png
  apps/web/src/components/organisms/SponsorSection/index.module.scss
  apps/web/src/components/organisms/SponsorSection/index.tsx
  apps/web/src/lib/assets/logos/elice.svg
  apps/web/src/lib/assets/logos/index.ts
  apps/web/src/lib/assets/logos/notefolio.svg
Due: yarn workspace web lint --cache, yarn test:coverage --findRelatedTests

Path conditions:
  yarn workspace @dnd-academy/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace @dnd-academy/core lint --cache: any of: packages/core/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
  yarn workspace admin lint --cache: any of: apps/admin/**/*.{js,jsx,ts,tsx}
  yarn test:coverage --findRelatedTests: any of: *.{js,jsx,ts,tsx}
